.wrap{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  flex: 1;
}

.row{
  margin: rem(45px) 0 0 0;
}

.col{
  &__left{
    width: 70%;
  }
  &__right {
    width: 25%;
  }
}

.news__section{
  display: flex;
  flex-direction: column;
}

.section__heading{
 font:{
   family: $noto__sans-bold;
   size: rem(26px);
 }
  text-transform: uppercase;
}

.news{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: rem(45px) 0 0 0;
  &__col{
    width: 35%;
    padding: 0 rem(25px) 0 0;
  }
}

.section__img{
  width: 254px;
}