.wrap{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  flex: 1;
}

.row{
  margin: rem(45px) 0 0 0;
}

.col{
  &__left{
    width: 70%;
  }
  &__right {
    width: 25%;
  }
}