// var

$grid: (
    breakpoints: (
      xs: 320px,
      sm: 767px,
      md: 1024px,
      lg: 1980px
      ),
      columns: 12,
      gap: 0px,
      mode: flex
  );

.container {
    position: relative;
    @include grid-row($grid);
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    min-width: auto;
    margin: 0 auto;
    flex: 1;
    padding: 0 0 rem(45px) 0;
    @include tablets {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
}

.row {
  margin: rem(45px) 0 0 0;
  @include phones {
      margin: rem(25px) 0 0 0;
  }
}

.col {
  &__left {
    //   width: 70%;
    @include grid-col(12 6 8 8);
      @include tablets {
          width: 90%;
          margin: 0 auto;
      }
  }
  &__right {
    //   width: 25%;

    @include grid-col(12 4 4 4);
      @include tablets {
          width: 90%;
          margin: 0 auto;
      }
  }
}