// resolutions
$lg__desktop: 3200px;
$md_desktop: 1200px;
$desktop: 979px;
$tablets: 767px;
$phones: 480px;
$sm__phones: 320px;

//resolutions mixin
@mixin large__devices {
  @media screen and (max-width: $lg__desktop) {
    @content;
  }
}

@mixin md__desktop {
  @media screen and (max-width: $md_desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin sm__phones {
  @media screen and (max-width: $sm__phones) {
    @content;
  }
}

