.card-gallery-photo {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: transparentize($red-origin, .25);
  }

  &__text-field {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 25%;
    left: 10%;
    opacity: 0;
  }

  &_hover:hover {
    .card-gallery-photo__text-field {
      opacity: 1;
    }
    &::after {
      content: '';
      opacity: 1;
    }
  }
}