.card-mini
  .img.img_mini
    img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
  .card-mini__text-block
    a(href='article.html').text.text_size_small Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»		
    time(datetime= dataTime).post-data 17 Февраля 2018