&__text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 220px;
  @include iphone-4{
    height: 55vh;
  }
  @include iphone-4-landscape {
    height: 100%;
  }
}