figure.card-default.card_bg_red
	.img.img_default.card-default__img
		img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	figcaption.card-default__text-block
		.card-default__data
			include ../../../library.blocks/user/user_color_white
			time(datetime="17.02.2018").post-data.card-default__post-data 17.10.2018
		a(href='article.html').heading.heading_size_h5.card-default__heading Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		include ../../../library.blocks/tegs/tegs-card-mod