.card-default
	.img.img_default(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-default__text-block
		include ../card-data/card-data
		a(href='article.html').heading.heading_size_h5.card-default__heading Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		include ../../tegs/tegs-card-mod