.card-default
	.img.img_default
		img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-default__text-block
		a(href='article.html').heading.heading_size_h5 Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		time(datetime="17.02.2018").post-data 17 Февраля 2018 