section.blog-photo
	.blog-photo__header
		a.heading.blog-photo__heading(href='#') Фото
	ul.blog-photo__list
		li.blog-photo__item.blog-photo__item_hover
			.img-small
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.blog-photo__text-field
				a(href='article.html').link.blog-photo__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-date.blog-photo__post-date 17 Февраля 2018
		li.blog-photo__item.blog-photo__item_hover
			.img-small
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.blog-photo__text-field
				a(href='article.html').link.blog-photo__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-date.blog-photo__post-date 17 Февраля 2018
		li.blog-photo__item.blog-photo__item_hover
			.img-small
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.blog-photo__text-field
				a(href='article.html').link.blog-photo__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-date.blog-photo__post-date 17 Февраля 2018
		li.blog-photo__item.blog-photo__item_hover
			.img-small
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.blog-photo__text-field
				a(href='article.html').link.blog-photo__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-date.blog-photo__post-date 17 Февраля 2018
		li.blog-photo__item.blog-photo__item_hover
			.img-small
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.blog-photo__text-field
				a(href='article.html').link.blog-photo__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-date.blog-photo__post-date 17 Февраля 2018