.blog{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @extend %limiter;
  margin: 0 auto;
  padding: 1% 0;
  &::after{
    @include roboto-bold;
    content: 'Больше';
    position: absolute;
    display: inline-block;
    color: $black-origin;
    text-transform: uppercase;
    cursor: pointer;
    bottom: -5%;
  }
  
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    @extend %limiter;
    @extend %_cut_val-12;
  }
  &__item{
    display: flex;
    flex-direction: column;
    width: 33%;
    @extend %_cut_val-12;
  }
}