.blog{
  display: flex;
  flex-direction: column;
  width: 83%;
  height: 980px;
  margin: 0 auto;
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background: #fff;
  }
  
  &__list{
    display: flex;
    flex-wrap: wrap;
    @extend %_cut_val-24;
  }
  &__item{
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 0 rem(25px) 0 0;
    @extend %_cut_val-12;
  }
}