section.blog
	a.link.link_big.blog__link(href='#') Статьи
	ul.blog__list
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link(href='article.html')
					span.heading Экспериментальные толпы
			time.publication-date(datetime="17.02.2018") 17 Февраля 2018