//- include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			//- include ../../library.blocks/header/header
			.content
				.column-big
				section.gallery__slider
					span.heading Фото
					ul.gallery__list.owl-carousel.owl-theme
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/elijahsad/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/goian/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/marcojodoin/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/alexb/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/marcojodoin/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/alexb/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/elijahsad/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
							a.gallery__link.gallery__link--hover(data-fancybox data-type="ajax" data-src="gallery__content.html")
								.section__img
									img.img-teg(src='https://source.unsplash.com/user/goian/1200x900',alt='alt')
								span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!			
				section.gallery__slider.row
					span.heading Видео
					ul.gallery__list.owl-carousel.owl-theme
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://youtu.be/Q0XPhwTnLpk")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/Q0XPhwTnLpk/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=HhwoaN8Yx-8")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/HhwoaN8Yx-8/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=dVkK36KOcqs")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/dVkK36KOcqs/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=rN6nlNC9WQA")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/rN6nlNC9WQA/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=uzpxrx7NZBA")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/uzpxrx7NZBA/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=NM2wtte1JRE")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/NM2wtte1JRE/mqdefault.jpg', alt='')
									span.section__row.section__description.gallery__description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
						li.gallery__item
									a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=rN6nlNC9WQA")
										i.palay__btn
										.section__img
											img.img-teg(src='//img.youtube.com/vi/rN6nlNC9WQA/mqdefault.jpg', alt='')
										span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
									a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=uzpxrx7NZBA")
										i.palay__btn
										.section__img
											img.img-teg(src='//img.youtube.com/vi/uzpxrx7NZBA/mqdefault.jpg', alt='')
										span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
									a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=NM2wtte1JRE")
										i.palay__btn
										.section__img
											img.img-teg(src='//img.youtube.com/vi/NM2wtte1JRE/mqdefault.jpg', alt='')
										span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!	
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://youtu.be/Q0XPhwTnLpk")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/Q0XPhwTnLpk/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link(data-fancybox data-src="https://www.youtube.com/watch?v=HhwoaN8Yx-8")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/HhwoaN8Yx-8/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li.gallery__item
								a.gallery__link.gallery__link--hover(data-fancybox data-src="https://www.youtube.com/watch?v=dVkK36KOcqs")
									i.palay__btn
									.section__img
										img.img-teg(src='//img.youtube.com/vi/dVkK36KOcqs/mqdefault.jpg', alt='')
									span.section__row.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.pagination.row
			//- include ../../library.blocks/footer/footer
			//- include ../../common.blocks/categories/categories
			//- include ../../common.blocks/feedback-form/feedback-form