.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25% 5%;
  @include iphone-4{
    padding: 0 5% 5%;
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  &__panel,&__panel-file {
    display: flex;
    align-content: center;
    width: 100%;
    @extend %_cut_val-30;
  }
  &__panel-file{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__panel{
    justify-content: space-between;
  }
  &__heading {
    @extend %_cut_val-30;
  }
  p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: rem(18px);
    font-weight: 400;
    font-style: normal;
    padding: 0 15%;
    @extend %_cut_val-24;
    @include iphone-4{
      padding: 0;
      font-size: rem(16px);
    }
  }
  strong {
    font-size: rem(20px);
    width: 100%;
    background: $white;
    span {
      float: left;
      margin-right: 5px;
      font-size: rem(55px);
      text-transform: uppercase;
      line-height: 55px;
      color: $red-origin;
    }
    @include iphone-4{
      font-size: rem(18px);
    }
    @extend %_cut_val-24;
  }
}