section.main-news
	.main-news__block
		.main-news__item.main-news__item_size_big(style='background-image: url(https://source.unsplash.com/user/hellocolor/1200x900)')
			.main-news__item-content
				time.publication-date.main-news__publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.link.main-news__link(href='article.html')
					h1.heading.main-news__heading Экспериментальный феномен толпы
	.main-news__block.main-news__block_direction_column
		.main-news__item.main-news__item_size_midline._no_margin(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
			.main-news__item-content
				time.publication-date.main-news__publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.link.main-news__link(href='article.html')
					h1.heading.main-news__heading Феномен толпы
		.main-news__item.main-news__item_size_midline(style='background-image: url(https://source.unsplash.com/user/jaycalabresephotography/1200x900)')
			.main-news__item-content
				time.publication-date.main-news__publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.link.main-news__link(href='article.html')
					h1.heading.main-news__heading Экспериментальные толпы