@import './__block';
@import './__img';
@import './__img_size_big';
@import './__item';
@import './__item_direction_row';
@import './__link';
@import './__list';
@import './__row';

.news-latest {
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	@extend %_cut_val-24;
}