.feedback-form._visually_hidden
	.feedback-form__content
		.feedback-form__header
			.feedback-form__title Письмо в редакцию
			.close-batton.close-batton_close-feedback-form
				span.close-batton__icon
		.feedback-form__fields
			form#callBackfeedback-form(method='post', action='mail.php')
				.feedback-form__inputs
					.feedback-form__row
						.feedback-form__elem
							label.feedback-form__elem-title(for='message-subject') Тема сообщения
							input.section__row#message-subject.feedback-form__input(placeholder='Обязательное для заполнения', required='', type='text')
						.feedback-form__elem
							label.feedback-form__elem-title(for='user-name') Ваше имя
							input.section__row#user-name.feedback-form__input(placeholder='Обязательное для заполнения', required='', type='text')
					.feedback-form__row
						.feedback-form__elem
							label.feedback-form__elem-title(for='user-email') E-Mail для ответа
							input.section__row#user-email.feedback-form__input(pattern='[^@]+@[^@]+\.[a-zA-Z]{2,6}', placeholder='Пример:email@email.ru', required='', type='email')
						.feedback-form__elem
							label.feedback-form__elem-title Файлы для отправки
							input.section__row#user-file.feedback-form__file-input(name='feedback-form__input-file-img', accept='image/jpeg,image/png', type='file')
							label.feedback-form__input-file__batton(for='user-file')
					.feedback-form__row
						.feedback-form__elem
							label.feedback-form__elem-title(for='user-message') Ваше сообщение
							textarea.section__row#user-message.feedback-form__big-text-input(placeholder='Обязательное для заполнения', required='')
				.feedback-form__buttons.feedback-form__row
						.feedback-form__radio
							input.feedback-form__radio-checkbox#feedback-form__radio-checkbox__deal(name='feedback-form__radio-checkbox__deal', type='checkbox')
							label.feedback-form__radios-checkbox__title(for='feedback-form__radio-checkbox__deal')
								| Нажимая кнопку «Отправить», я подтверждаю, что ознакомился и принимаю
								a.feedback-form__radios-link.feedback-form__radios-link--hover(href='#') правила регистрации и конфиденциальности
						.feedback-form__control.feedback-form__row
							//- .g-recaptcha(data-sitekey='6LdlJkgUAAAAAJCkjdliKIWqeymfYsBzqDLliUXk')
							button.feedback-form__submit(type='submit') Отправить
				.feedback-form__footer.feedback-form__row
					p.feedback-form__alert Все поля обезательны для запонения
					.feedback-form__info
						p.feedback-form__text Наш телефон
						a.feedback-form__tel.feedback-form__tel--hover(href='tel:+7 (499) 800-88-88') 8 (499) 800-88-88