ul.banners-list
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/stickermule/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/goian/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='http://yandex.ru')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
.pagination.row.show__blok-phones
	ul.pagination__list
		//- generation on js
.controls.banners-list__controls.disabled__item-phones
	a.controls__btn.controls__btn_next(href='#')
		i.controls__arrow_right
	a.controls__btn.controls__btn_prev(href='#')
		i.controls__arrow_left