ul.banners-list.owl-carousel.owl-theme
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/stickermule/399x545', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/goian/1024x758', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/300x300', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/500x500', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/850x600', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/200x200', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/900x900', alt='alt')
	li.banners-list__item
		a.banners-list__link(href='#')
			img.banners-list__img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
.controls.banners-list__controls.disabled__item-phones
	a.controls__btn.controls__btn_next.owl-btn-next(href='#')
		i.controls__arrow_right
	a.controls__btn.controls__btn_prev.owl-btn-prev(href='#')
		i.controls__arrow_left