//colors
$dark__violet: #6c3751;
$red: #d80000;
$yellow: #ffc600;
$black: #000;
$white : #fff;

// resolutions
$lg__desktops: 1200px;
$desktop: 979px;
$tablets: 767px;
$phones: 480px;
$sm__phones: 320px;

//config
@import "config/fn";
@import "config/mixin";
@import "config/fonst";
@import "config/tag_reset";
@import "config/base";
@import "config/adjustment";

//components
@import "../html/components/header/header";
@import "../html/components/footer/footer";
@import "../html/components/right__side/right__side";
@import "../html/components/hamburger__menu/hamburger__menu";
@import "../html/components/feedback__form/feedback__form";

//layout
@import "../html/home/home";
@import "../html/article/article";
@import "../html/list/list";
@import "../html/gallery/gallety";