section.banners-promo.row
	.section__img
		img.img-teg(src='https://source.unsplash.com/1600x900/?type')
	.section__img
		img.img-teg(src='https://source.unsplash.com/1600x900/?technology')
	.section__img
		img.img-teg(src='https://source.unsplash.com/1600x900/?screen')