.delimiter-section
	.delimiter-section__left
		section.affiche
			section.gallery.row
				a.gallery__title(href='gallery.html') Галерея
				.gallery__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
			section.blog.row
				a.section-heading.text__center(href='list.html') Колумнистика
				ul.blog__list
					li.blog__item.row
						img.user__img(src='https://source.unsplash.com/user/michaeldam/200x200')
						p.user__name.section__row Кристина Иванова
						a.section-title.section__row(href='article.html') Феномен толпы
					li.blog__item.row
						img.user__img(src='https://source.unsplash.com/user/chrisjoelcampbell/200x200')
						p.user__name.section__row Кристина Иванова
						a.section-title.section__row(href='article.html') Феномен толпы
					li.blog__item.row
						img.user__img(src='https://source.unsplash.com/user/alexandruz/200x200')
						p.user__name.section__row Кристина Иванова
						a.section-title.section__row(href='article.html') Феномен толпы
	.delimiter-section__right
			section.banners.row
				.section__img
					img.img-teg(src='https://source.unsplash.com/1600x900/?type')
				.section__img
					img.img-teg(src='https://source.unsplash.com/1600x900/?technology')
				.section__img
					img.img-teg(src='https://source.unsplash.com/1600x900/?screen')
			section.interview.row
				a.section-heading.text__center(href='list.html') Интервью
						a.interview__link.section__row(href='article.html')
							.interview__preview
								span.interview__name Алексей Быстрый
								.interview__img
									img.img-teg(src='https://source.unsplash.com/240x600/?person')