//NotoSans Bold

@font-face {
  font-family: "Noto__Sans-Bold";
  src: url("NotoSans-Bold.eot"); /* IE9 */
  src: url("NotoSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("NotoSans-Bold.woff") format("woff"), /* chrome, firefox */
  url("NotoSans-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("NotoSans-Bold.svg#Noto Sans") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

//Roboto bold

@font-face {
  font-family: "Roboto__Bold";
  src: url("Roboto-Bold.eot"); /* IE9 */
  src: url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("Roboto-Bold.woff") format("woff"), /* chrome, firefox */
  url("Roboto-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("Roboto-Bold.svg#Roboto") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

//Roboto Italic

@font-face {
  font-family: "Roboto__Italic";
  src: url("Roboto-Italic.eot"); /* IE9 */
  src: url("Roboto-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("Roboto-Italic.woff") format("woff"), /* chrome, firefox */
  url("Roboto-Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("Roboto-Italic.svg#Roboto") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

//Roboto Medium

@font-face {
  font-family: "Roboto__Medium";
  src: url("Roboto-Medium.eot"); /* IE9 */
  src: url("Roboto-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("Roboto-Medium.woff") format("woff"), /* chrome, firefox */
  url("Roboto-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("Roboto-Medium.svg#Roboto Medium") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

//Roboto Regular

@font-face {
  font-family: "Roboto__Regular";
  src: url("Roboto-Regular.eot"); /* IE9 */
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("Roboto-Regular.woff") format("woff"), /* chrome, firefox */
  url("Roboto-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("Roboto-Regular.svg#Roboto") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

$Noto__Sans-Bold: font:  family: 'Noto__Sans-Bold', Helvetica, Arial, sans-serif;
                         weight: bold;