.user {
  display: flex;

  &__icon {
    margin: 0 rem(15px) 0 0;

    &:hover {
      opacity: 1;
    }
  }

  &__link {
    align-self: center;
    color: $white;
    font-size: rem(18px);
    font-weight: 700;

    &_color_black {
      color: $black-shade;
    }

  }
}