.user {
  display: flex;

  &__icon {
    width: 60px;
    margin: 0 rem(15px) 0 0;
    border-radius: 100px;
    overflow: hidden;
  }

  &__link {
    align-self: center;
    color: $white;
    width: 60%;
    font-size: rem(18px);
    font-weight: 700;

    &_color_black{
      color: $black-shade;
    }

    &:hover {
      text-decoration: underline;
    }
    
  }
}