aside.categories._visually_hidden
	.close-batton.categories__close-batton.close-batton_close-categories
		span.close-batton__icon
	div(data-accordion-group)
		.accordion(data-accordion)
			div(data-control) Общество
			div(data-content)
				a.nav__link.categories__link(href='#') Закон
				a.nav__link.categories__link(href='list.html') Экономика
				a.nav__link.categories__link(href='list.html') ЖКХ
				a.nav__link.categories__link(href='list.html') Безопасность
				a.nav__link.categories__link(href='list.html') Служу Отечеству
				a.nav__link.categories__link(href='list.html') Общество
				a.nav__link.categories__link(href='list.html') Активный гражданин
				a.nav__link.categories__link(href='gallery.html') Фото
		.accordion(data-accordion)
			div(data-control) Общество
			div(data-content)
				a.nav__link.categories__link(href='#') Закон
				a.nav__link.categories__link(href='list.html') Экономика
				a.nav__link.categories__link(href='list.html') ЖКХ
				a.nav__link.categories__link(href='list.html') Безопасность
				a.nav__link.categories__link(href='list.html') Служу Отечеству
				a.nav__link.categories__link(href='list.html') Общество
				a.nav__link.categories__link(href='list.html') Активный гражданин
				a.nav__link.categories__link(href='gallery.html') Фото