.categories
	p.heading.heading_line-bottom.heading_size_h3.heading_color_white Категория
	ul.categories__list
		li.categories__item
			a.link.link_color_white.categories__link(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон
		li.categories__item
			a.link.link_color_white(href='#') Закон