//colors
$dark-violet: #6c3751;
$red: #d80000;
$yellow: #ffc600;
$black: #000;
$white : #fff;
$invisible: transparent;

// config
@import "../node_modules/fast-grid/fast-grid";
@import "./common.config/grid.scss";
@import "./common.config/mixin.scss";
@import "./common.config/resolutions.scss";
@import "./common.config/fonst.scss";
@import "./common.config/adjustment.scss";
@import "./common.config/base.scss";

// mod
@import "./common.mod/_no_margin.scss";
@import "./common.mod/_cut/**/*.scss";
@import "./common.mod/_hr-end/**/*.scss";
@import "./common.mod/_visually_hidden/**/*.scss";
@import "./common.mod/limiter.scss";

// common.blocks
@import "./common.blocks/heading/heading.scss";
@import "./common.blocks/link/link.scss";
@import "./common.blocks/footer/__link.scss";
@import "./common.blocks/footer/footer.scss";
@import "./common.blocks/header/header.scss";
@import "./common.blocks/text/text.scss";
@import "./common.blocks/text/_color_white.scss";
@import "./common.blocks/text/_color_yellow.scss";
@import "./common.blocks/img/**/*.scss";
@import "./common.blocks/page/page.scss";
@import "./common.blocks/post-date/*.scss";
@import "./common.blocks/logo/logo.scss";
@import "./common.blocks/close-button/**/*.scss";
@import "./common.blocks/social-networks/**/*.scss";

// library
@import "./library.blocks/serch-form/serch-form.scss";
@import "./library.blocks/banners-slider/**/*.scss";
@import "./library.blocks/blog/blog.scss";
@import "./library.blocks/categories/**/*.scss";
@import "./library.blocks/img-widget/img-widget.scss";
@import "./library.blocks/feedback-form/**/*.scss";
@import "./library.blocks/hamburger-menu/**/*.scss";
@import "./library.blocks/navigation/**/*.scss";
@import "./library.blocks/pagination/**/*.scss";
@import "./library.blocks/news-latest/**/*.scss";
@import "./library.blocks/main-news/main-news.scss";
@import "./library.blocks/blog-video/blog-video.scss";
@import "./library.blocks/blog-photo/blog-photo.scss";

@import "./library.blocks/teg-cloud/**/*.scss";

// layout
@import "./library.pages/**/*.scss";