//colors
$red-origin: #F33;
$red-shade: #c33;
$red-tint: #f66;
$red-pastel: #fcc;
$red-light-gradient: linear-gradient(to bottom, #ff3333, #ff6666);
$red-dark-gradient: linear-gradient(to bottom, #ff3333, #cc3333);
$black-origin: #333;
$black-shade: #000;
$black-tint: #666;
$black-pastel: #ccc;
$black-light-gradient: linear-gradient(to bottom, #333333, #666666);
$black-dark-gradient: linear-gradient(to bottom, #333333, #000000);
$white: #fff;
$invisible: transparent;

// config
@import "../node_modules/fast-grid/fast-grid";
@import "./common.config/grid.scss";
@import "./common.config/mixin.scss";
@import "./common.config/base.scss";

// common.mod
@import "./common.mod/limiter";
@import "./common.mod/_visually_hidden";
@import "./common.mod/_cut/_cut_val-30";
@import "./common.mod/_cut/_cut_val-24";
@import "./common.mod/_cut/_cut_val-12";

// common.blocks
@import "./common.blocks/page/page.scss";
@import "./common.blocks/button/button.scss";
@import "./common.blocks/heading/heading.scss";
@import "./common.blocks/text/text.scss";
@import "./common.blocks/post-date/post-date.scss";
@import "./common.blocks/logo/logo.scss";
@import "./common.blocks/link/link.scss";
@import "./common.blocks/icon/icon.scss";
@import "./common.blocks/img/img.scss";
@import "./common.blocks/card/card-default/card-default.scss";
@import "./common.blocks/card/card-full/card-full.scss";
@import "./common.blocks/card/card-mini/card-mini.scss";
@import "./common.blocks/card/card-gallery-photo/card-gallery-photo.scss";
@import "./common.blocks/card/card-promo/card-promo.scss";
@import "./common.blocks/header/header.scss";
@import "./common.blocks/footer/footer.scss";

// library.blocks
@import "./library.blocks/navigation/navigation.scss";
@import "./library.blocks/serch-form/serch-form";
@import "./library.blocks/section-header/section-header";
@import "./library.blocks/main-news/main-news";
@import "./library.blocks/post-column/post-column";
@import "./library.blocks/post-gallery/post-gallery";
@import "./library.blocks/tegs/tegs";
@import "./library.blocks/categories/categories";
@import "./library.blocks/breadcrumb/breadcrumb";
@import "./library.blocks/pagination/pagination";
@import "./library.blocks/share-link/share-link";
@import "./library.blocks/quoet/quoet";
@import "./library.blocks/user/user";

// layout
@import "./library.pages/article/article";