//colors
$dark-violet: #6c3751;
$red: #d80000;
$yellow: #ffc600;
$black: #000;
$white : #fff;

// config
@import "../node_modules/fast-grid/fast-grid";
@import "./common.config/grid.scss";
@import "./common.config/mixin.scss";
@import "./common.config/resolutions.scss";
@import "./common.config/fonst.scss";
@import "./common.config/adjustment.scss";
@import "./common.config/base.scss";

// mod
@import "./common.mod/_no_margin.scss";
@import "./common.mod/_cut/**/*.scss";
@import "./common.mod/_hr-end/**/*.scss";
@import "./common.mod/_visually_hidden/**/*.scss";

// library
@import "./library.blocks/heading/**/*.scss";
@import "./library.blocks/link/**/*.scss";
@import "./library.blocks/close-icon/**/*.scss";
@import "./library.blocks/footer/__link.scss";
@import "./library.blocks/footer/footer.scss";
@import "./library.blocks/header/header.scss";
@import "./library.blocks/text/text.scss";
@import "./library.blocks/text/_color_white.scss";
@import "./library.blocks/text/_color_yellow.scss";
@import "./library.blocks/img/**/*.scss";
@import "./library.blocks/page/page.scss";
@import "./library.blocks/serch-form/__button/__button";
@import "./library.blocks/serch-form/__button/__button_close";
@import "./library.blocks/serch-form/__input/__input";
@import "./library.blocks/serch-form/__input/__input_open";
@import "./library.blocks/serch-form/_active.scss";
@import "./library.blocks/serch-form/serch-form.scss";
@import "./library.blocks/publication-date/*.scss";

// common.blocks
@import "./common.blocks/archive/**/*.scss";
@import "./common.blocks/banners-promo/**/*.scss";
@import "./common.blocks/banners-slider/**/*.scss";
@import "./common.blocks/blog/**/*.scss";
@import "./common.blocks/categories/**/*.scss";
@import "./common.blocks/close-button/**/*.scss";
@import "./common.blocks/controls/**/*.scss";
@import "./common.blocks/cover-promo/**/*.scss";
@import "./common.blocks/feedback-form/**/*.scss";
@import "./common.blocks/hamburger-menu/**/*.scss";
@import "./common.blocks/interview/**/*.scss";
@import "./common.blocks/labels/**/*.scss";
@import "./common.blocks/logo/**/*.scss";
@import "./common.blocks/navigation/**/*.scss";
@import "./common.blocks/news-right-side/**/*.scss";
@import "./common.blocks/pagination/**/*.scss";
@import "./common.blocks/previous-build/**/*.scss";
@import "./common.blocks/news-latest/**/*.scss";
@import "./common.blocks/right-side/**/*.scss";
@import "./common.blocks/main-news/main-news.scss";
@import "./common.blocks/imgSlider/**/*.scss";
@import "./common.blocks/social-networks/**/*.scss";
@import "./common.blocks/teg-cloud/**/*.scss";

// layout
@import "./library.pages/**/*.scss";