.card-full
		.card-full__img(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		.card-full__text-block
			.label
			time(datetime="17.02.2018").post-data.post-data_color_white 17 Февраля 2018
			a(href='article.html').heading.heading_size_h1.heading_color_white Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 