/*banners*/

.banner__big {
    margin: 15px 0;
}

/*callback_form*/

.form {
    background: #F5F5F5;
    padding: 50px;
    font-family: 'GothaProLig', sans-serif;
    font-size: 14px;
    color: #272525;
}

.form__title {
    font-family: 'GothaProBol', sans-serif;
    font-size: 49px;
}

.form__fields {
    margin: 0 auto;
    width: 100%;
}

.form__input {
    width: 100%;
    height: 50px;
    padding: 0 0px 0 12px;
    border: 1px solid #ededed;
}

.form__row {
    margin: 0 0 14px 0;
}

.form__elem {
    margin: 15px 0;
}

.form__radio {
    margin: 0 20px 0 0;
}

.form__radio:last-child {
    margin: 0;
}

.form__elem:last-child {
    margin: 0;
}

.form__radios-container {
    margin: 15px auto;
    width: 100%;
}

.form__radios-title {
    width: 95%;
    display: inline-block;
}

.form__radios-link {
    text-decoration: underline;
}

.form__radio-elem {
    display: inline-block;
    vertical-align: inherit;
}

.form__big-text-input {
    width: 100%;
    height: 80px;
    padding: 12px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid #ededed;
}

.form__radio {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
}

.form__radio,
.form__radios,
.form__control {
    display: inline-block;
}

.form__elem-title {
    display: block;
    margin: 10px 0;
}

.form__control {
    display: block;
    margin: 40px 0 0 0;
}

.form__submit {
    text-align: center;
    background: #4242f6;
    font-family: 'GothaProBol', sans-serif;
    font-size: 13px;
    letter-spacing: 4px;
    color: #fff;
    width: 140px;
    height: 45px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.form__submit:hover {
    background: #ec9d1e;
    color: #fff;
    transition: all 1.1s linear;
}

.form__submit:active {
    background: #656464;
    color: #fff;
}

.form__big-text-input:focus,
.form__input:focus {
    outline: #ec9d1e solid 1px;
}

/*Нав меню с разделами*/

/* cvm 05.02.2018*/

/*#bs-example-navbar-collapse-1 li > a{*/

/*color: #000;*/

/*display: block;*/

/*border-right: 1px solid #898989;*/

/*}*/

.navbar-nav li:hover {
    color: #fff;
}

#main-menu a {
    font-weight: 800;
    font-size: 0.88em;
}

/* cvm 05.02.2018*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/vlast/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f219";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/ekonomika/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f158";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/zhkx/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f2cd";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/bezopasnost/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f132";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/socsfera/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f19c";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/sluzhu-otechestvu/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f0fb";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/obshchyestvo/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f0c0";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/aktivnyj-grazhdanin/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f2d6";*/

/*margin-right: 10px;*/

/*}*/

/*#bs-example-navbar-collapse-1 li > a[href="/category/kolumnistika/"]::before{*/

/*font: normal normal normal 14px/1 FontAwesome;*/

/*content:"\f2c7";*/

/*margin-right: 10px;*/

/*}*/

.fa {
    margin-right: 5px;
}

.announce__item {
    border-top: none;
}

.nav__item--left {
    display: block !important;
    left: 60px;
}

.nav__link--btn {
    text-align: center;
    width: 200px;
    padding: 10px !important;
    background: #93836c;
    height: 40px;
    margin: 0 !important;
}

div#top-menu li:hover {
    color: black;
    background: none;
}

div#top-menu .nav__link--btn:hover {
    background-color: #1800ff !important;
}

/* кнопки навигации в новосятх*/

#tabs ul {
    padding-left: 0;
}

#tabs li {
    margin: 0 10px 10px 0;
}

/*Топ материалов*/

.post img.img-preview {
    float: left;
    max-width: 25rem !important;
    height: auto !important;
    margin: 0 10px 0 0;
}

/*Видео*/

.video a.thumbs__link {
    font-weight: 400;
    text-decoration: none !important;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Arial, sans-serif;
}

.battons__all a {
    text-decoration: none !important;
}

/*Типографика*/

h1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 2px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 24px;
}

blockquote {
    background: #fff;
    color: #000;
    font-style: italic;
    margin: 24px 0 24px 0;
    font-weight: 500;
}

blockquote:before,
blockquote:after {
    font-size: 4em;
}

blockquote:before {
    content: '“';
    float: left;
    margin-top: -0.4em;
}

blockquote:after {
    content: '”';
    float: right;
    margin-top: 0.4em;
}

/*css effect*/

.col {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */

.col figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 1%;
    min-width: 290px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #534136;
    text-align: center;
    cursor: pointer;
}

.col figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.col figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.col figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.col figure figcaption,
.col figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.col figure figcaption>a {
    position: absolute;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 100rem;
    opacity: 0;
}

.col figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.col figure h2 span {
    font-weight: 800;
}

.col figure h2,
.colfigure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/

/***** Chico *****/

/*---------------*/

/*figure.effect-chico img {*/

/*    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/

/*    transition: opacity 0.35s, transform 0.35s;*/

/*    -webkit-transform: scale(1.12);*/

/*    transform: scale(1.12);*/

/*}*/

/*figure.effect-chico:hover img {*/

/*    opacity: 0.5;*/

/*    -webkit-transform: scale(1);*/

/*    transform: scale(1);*/

/*}*/

/*figure.effect-chico figcaption {*/

/*    padding: 3em;*/

/*}*/

/*figure.effect-chico figcaption::before {*/

/*    position: absolute;*/

/*    top: 30px;*/

/*    right: 30px;*/

/*    bottom: 10px;*/

/*    left: 30px;*/

/*    border: 1px solid #fff;*/

/*    content: '';*/

/*    -webkit-transform: scale(1.1);*/

/*    transform: scale(1.1);*/

/*}*/

/*figure.effect-chico figcaption::before,*/

/*figure.effect-chico p {*/

/*    opacity: 0;*/

/*    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/

/*    transition: opacity 0.35s, transform 0.35s;*/

/*}*/

/*figure.effect-chico h2 {*/

/*    padding: 20% 0 20px 0;*/

/*}*/

/*figure.effect-chico p {*/

/*    margin: 0 auto;*/

/*    max-width: 200px;*/

/*    -webkit-transform: scale(1.5);*/

/*    transform: scale(1.5);*/

/*}*/

/*figure.effect-chico:hover figcaption::before,*/

/*figure.effect-chico:hover p {*/

/*    opacity: 1;*/

/*    -webkit-transform: scale(1);*/

/*    transform: scale(1);*/

/*}*/

/*.left-col{*/

/*    margin-left:50px;*/

/*}*/

/*Календарь*/

#calendar2 {
    width: 100%;
    font-family: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar2 tbody td {
    color: rgb(44, 86, 122);
}

.cal_day:hover {
    cursor: pointer;
    background-color: #e3e3e3
}

#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
    color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

/*от опросов*/

#oc-history p,
#oc-results p {
    font-size: 8pt;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#oc-results div div:first-child {
    font-size: 6pt !important;
}

#oc-results div div.bar {
    height: 10px;
}

/*????*/

.post.search-match {
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

/*Разделы из блока статьи*/

.thumbnaill {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

.thumbnaill .bold {
    font-size: 1.2em;
    font-weight: bold;
}

.caption-big .igm {
    position: relative;
    overflow: hidden;
    height: 370px;
    width: 370px;
}

.captionll a.bold {
    display: block;
    padding: 10px 0 10px 0;
}

/**/

.cl-effect-4 a {
    position: relative;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cl-effect-4 a:hover,
.cl-effect-4 a:focus {
    outline: none;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/*Элементы невидимки desktop(те элементы которые не видно на компе)*/

.stell,
.stellForever,
.instathumbs {
    display: none;
}

/*footer*/

footer .col-lg-1,
footer .col-lg-10,
footer .col-lg-11,
footer .col-lg-12,
footer .col-lg-2,
footer .col-lg-3,
footer .col-lg-4,
footer .col-lg-5,
footer .col-lg-6,
footer .col-lg-7,
footer .col-lg-8,
footer .col-lg-9,
footer .col-md-1,
footer .col-md-10,
footer .col-md-11,
footer .col-md-12,
footer .col-md-2,
footer .col-md-3,
footer .col-md-4,
footer .col-md-5,
footer .col-md-6,
footer .col-md-7,
footer .col-md-8,
footer .col-md-9,
footer .col-sm-1,
footer .col-sm-10,
footer .col-sm-11,
footer .col-sm-12,
footer .col-sm-2,
footer .col-sm-3,
footer .col-sm-4,
footer .col-sm-5,
footer .col-sm-6,
footer .col-sm-7,
footer .col-sm-8,
footer .col-sm-9,
footer .col-xs-1,
footer .col-xs-10,
footer .col-xs-11,
footer .col-xs-12,
footer .col-xs-2,
footer .col-xs-3,
footer .col-xs-4,
footer .col-xs-5,
footer .col-xs-6,
footer .col-xs-7,
footer .col-xs-8,
footer .col-xs-9 {
    padding: 15px;
}

footer {
    /* cvm 05.02.2018*/
    /*padding: 30px;*/
    /*background: #93836c;*/
    background: #6c3751;
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer h6 {
    font-size: 16px;
}

footer ul {
    padding-left: 0;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer h6 {
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

.mobile-app ul {
    padding-left: 0;
}

.mobile-app ul li {
    display: inline-block;
    list-style-type: none;
    width: 30%;
    margin-right: 5px;
}

img.store {
    width: 100%;
    margin: 0 10px;
}

footer .info li {
    list-style-type: none;
    margin: 5px 0 0 0;
}

footer .info-area li {
    display: inline-block;
}

footer .info-area li::after {
    content: "|";
    margin: 0 10px;
}