.tegs {
  display: flex;
  flex-wrap: wrap;
  border-left: 5px solid $red-origin;

  &__item {
    font-size: rem(16px);
    padding: rem(5px) rem(15px);
    margin: rem(5px) rem(10px);
    background: $red-origin;
    color: $white;
    text-transform: capitalize;
    border-radius: 5px;
    &::before{
      content: '#'
    }
    &:hover {
      background: $red-tint;
    }
  }
}