ul.tegs-list.card-gallery__tegs.tegs-list_card-tegs-mod
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва
  li.tegs-list__item
    a.link.tegs-list__link(href='list.html') Москва