.tegs.card-default__tegs
  a.tegs__item(href='list.html') Москва
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка