<<<<<<< HEAD
.tegs.card-galliry__tegs
=======
.tegs.card-default__tegs
>>>>>>> b06eff820b1308f156e5075064d0bfc160dc4b74
  a.tegs__item(href='list.html') Москва
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') ЮЗАО
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Собянин
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка
  a.tegs__item(href='list.html') Lorem
  a.tegs__item(href='list.html') Котловка