.card-gallery-photo.card-gallery-photo_hover
  .img.img_default
    img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
  .card-gallery-photo__text-field
    a(href='article.html').heading.heading_size_h5.heading_color_white Культ личности означает аутотренинг
    time(datetime="17.02.2018").post-data.post-data_color_white 17 Февраля 2018