include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				include ../../library.blocks/main-news/main-news
			include ../../common.blocks/footer/footer