include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				include ../../library.blocks/main-news/main-news
				include ../../library.blocks/news-latest/news-latest
				include ../../library.blocks/blog-video/blog-video
				include ../../library.blocks/blog/blog
				include ../../library.blocks/blog-photo/blog-photo
			include ../../common.blocks/footer/footer