include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../library.blocks/header/header
			.content-area
				include ../../common.blocks/main-news/main-news
			.content-area__block-center
				include ../../common.blocks/news-latest/news-latest
				.img-widget
					a.link.img-widget__link(href='gallery.html')
						img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
					a.link.img-widget__link(href='gallery.html')
						img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
					a.link.img-widget__link(href='gallery.html')
						img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
				//- section.cloud.disabled__item-tablets
				//- 	i.link.link_big Облако тегов
				//- 	include ../../common.blocks/teg-cloud/teg-cloud
				//- section.banners
				//- 	include ../../common.blocks/banners-slider/banners-slider
			.column-small
				//- include ../../common.blocks/right-side/right-side
			include ../../library.blocks/footer/footer
			include ../../common.blocks/categories/categories
			include ../../common.blocks/feedback-form/feedback-form