include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../library.blocks/header/header
			.content
				.column-big
					section.slider
						include ../../common.blocks/slider/slider
					include ../../common.blocks/promo/promo
					include ../../common.blocks/promo/promo
					include ../../common.blocks/promo/promo
						section.cloud.disabled__item-tablets
							i.link.link_big Облако тегов
							include ../../common.blocks/teg-cloud/teg-cloud
						section.banners
							include ../../common.blocks/banners-slider/banners-slider
				.column-small
					include ../../common.blocks/right-side/right-side
			include ../../library.blocks/footer/footer
			include ../../common.blocks/categories/categories
			include ../../common.blocks/feedback-form/feedback-form