include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				section.section-header
					.section-header__first-column
						a(href="#").button.button_hover Написать в редакцию
					.section-header__end-column-items-end
						include ../../common.blocks/list/list-social-networks-end-play-button
				include ../../library.blocks/main-news/main-news
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Все новости
					.section-header__end-column
						a(href="list.html").button.button_hover Все афиши
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/img-widget/img-widget
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				include ../../library.blocks/post-gallery/post-gallery_post-add
				p фотки
				include ../../library.blocks/post-gallery/post-gallery_photo-gallery
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
				include ../../library.blocks/post-gallery/post-gallery_photo-gallery
				include ../../library.blocks/post-gallery/post-gallery_banners-add
			include ../../common.blocks/footer/footer