include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				include ../../library.blocks/main-news/main-news
				section.section-header
					.section-header__first-column
						a(href="list.html").heading.heading_size_h2 Новости
					.section-header__end-column
						a(href="list.html").heading.heading_size_h2 Афиша
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/img-widget/img-widget
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				include ../../library.blocks/post-gallery/post-gallery_post-add
				include ../../library.blocks/post-gallery/post-gallery_photo-gallery
				section.section-header
					.section-header__first-column
						a(href="list.html").heading.heading_size_h2 Название секции
					.section-header__center-column
						a(href="list.html").heading.heading_size_h2 Название секции
					.section-header__end-column
						a(href="list.html").heading.heading_size_h2 Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
				section.section-header
					.section-header__first-column
						a(href="list.html").heading.heading_size_h2 Название секции
					.section-header__center-column
						a(href="list.html").heading.heading_size_h2 Название секции
					.section-header__end-column
						a(href="list.html").heading.heading_size_h2 Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
			include ../../common.blocks/footer/footer