.form-feedback.visuallyhidden
	.form__content
		.form__header
			.form__title Письмо в редакцию
			.close__batton.close__batton-feedback
				span.close-icon.close-icon-feedback
		.form__fields
			form#callBackForm.form-tag(method='post', action='mail.php')
				.form__inputs
					.form__row
						.form__elem
							label.form__elem-title(for='message-subject') Тема сообщения
							input.section__row#message-subject.form__input(placeholder='Обязательное для заполнения', required='', type='text')
						.form__elem
							label.form__elem-title(for='user-name') Ваше имя
							input.section__row#user-name.form__input(placeholder='Обязательное для заполнения', required='', type='text')
					.form__row
						.form__elem
							label.form__elem-title(for='user-email') E-Mail для ответа
							input.section__row#user-email.form__input(pattern='[^@]+@[^@]+\.[a-zA-Z]{2,6}', placeholder='Пример:email@email.ru', required='', type='email')
						.form__elem
							label.form__elem-title Файлы для отправки
							input.section__row#user-file.form__file-input(name='form__input-file-img', accept='image/jpeg,image/png', type='file')
							label.form__input-file__batton(for='user-file')
					.form__row
						.form__elem
							label.form__elem-title(for='user-message') Ваше сообщение
							textarea.section__row#user-message.form__big-text-input(placeholder='Обязательное для заполнения', required='')
				.form__buttons.form__row
						.form__radio
							input.form__radio-checkbox#form__radio-checkbox__deal(name='form__radio-checkbox__deal', type='checkbox')
							label.form__radios-checkbox__title(for='form__radio-checkbox__deal')
								| Нажимая кнопку «Отправить», я подтверждаю, что ознакомился и принимаю
								a.form__radios-link.form__radios-link--hover(href='#') правила регистрации и конфиденциальности
						.form__control.form__row
							//- .g-recaptcha(data-sitekey='6LdlJkgUAAAAAJCkjdliKIWqeymfYsBzqDLliUXk')
							button.form__submit(type='submit') Отправить
				.form__footer.form__row
					p.form__alert Все поля обезательны для запонения
					.form__info
						p.form__text Наш телефон
						a.form__tel.form__tel--hover(href='tel:+7 (499) 800-88-88') 8 (499) 800-88-88