ul.nav__list
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Об издании
	li.nav__item
		a.nav__link.nav__link_hover.nav__link_show-categories(href='#') Разделы
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Афиша
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Сайты ЮЗАО
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Архив	
	//- li.nav__item
	//- 	a.nav__link.nav__link_hover.nav__link_show-feedback-form(href='#') Обратная связь