ul.nav__list
	li.nav__item
		a.nav__link(href='list.html') Закон
	li.nav__item
		a.nav__link(href='list.html') Экономика
	li.nav__item
		a.nav__link.categories--open(href='#') Разделы
	li.nav__item
		a.nav__link(href='list.html') Безопасность
	li.nav__item
		a.nav__link(href='list.html') Служу Отечеству
	li.nav__item
		a.nav__link(href='list.html') Общество
	li.nav__item
		a.nav__link(href='list.html') Активный гражданин
	li.nav__item
		a.nav__link(href='gallery.html') Фото
	li.nav__item
		a.nav__link.open__form(href='#') Письмо в редакцию