ul.nav__list
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Закон
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Экономика
	li.nav__item
		a.nav__link.nav__link_visible_categories.nav__link_hover(href='#') Разделы
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Безопасность
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Служу Отечеству
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Общество
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Активный гражданин
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Фото
	li.nav__item
		a.nav__link.open__form.nav__link_hover(href='#') Письмо в редакцию