ul.nav__list
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Об издании
	li.nav__item
		a.nav__link.nav__link_hover(href='list.html') Архив	
	li.nav__item
		a.nav__link.nav__link_visible_categories.nav__link_hover(href='#') Разделы
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Афиша
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Префектура
	li.nav__item
		a.nav__link.nav__link_hover(href='gallery.html') Сайты ЮЗАО
	li.nav__item
		a.nav__link.open__form.nav__link_hover(href='#') Обратная связь