&__group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24vw;
  @include iphone-4 {
    width: 95%;
  }
  @include iphone-5-landscape {
    width: 95%;
  }
  @include iphone-6-7-8 {
    width: 95%;
  }
  @include iphone-6-7-8-landscape {
    width: 95%;
  }
}