&__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @extend %limiter;
  @include iphone-4 {
    flex-direction: column;
  }
  @include iphone-5-landscape {
    flex-direction: column;
  }
  @include iphone-6-7-8 {
    flex-direction: column;
  }
  @include iphone-6-7-8 {
    flex-direction: column;
  }
  @include iphone-6-7-8-landscape {
    flex-direction: column;
  }
}