.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  align-self: flex-end;
  bottom: -15%;
  
  @import '__row.scss';
  @import '__group.scss';
  @import '__group-collun-2.scss';
}