footer.footer
		.footer__container
			.footer__row
				.footer__logo
					include ../../common.blocks/logo/logo
					p.text.text_color_white.footer__text Сетевое издание "Москва Зa Кaлужcкoй зacтaвoй" зарегистрировано в Федеральной службе по надзору в сфере связи и массовых коммуникаций.
				.footer__block-colum
					p.heading.heading_color_white.footer__heading Свидетельство о регистрации СМИ
					a.link.footer__link(data-fancybox data-type='iframe' data-src='http://rkn.gov.ru/mass-communications/reestr/media/p48182/?id=548487&page=48182' href='javascript:;') Эл № ФС77-61234 от 03 апреля 2015 г.
					p.text.text_color_white.footer__text При использовании любых материалов ссылка на сайт обязательна.
				.footer__block-colum
					p.heading.heading_color_white.footer__heading Контакты
					p.text.text_color_white.text_size_18
						| Адрес редакции:
						a.link.footer__link(data-fancybox data-type='iframe' data-src='https://goo.gl/maps/Hzv7ZBquyHN2')  ул. Нагорная, дом 26, корпус 1, 1-й подъезд, 2-й этаж
					p.text.text_color_white.text_size_18
						| Тел./факс редакции:
						a.link.footer__link(href="tel:84991271839") 8(499)127-18-39
					p.text.text_color_white.text_size_18
						| Email:
						a.link.footer__link(href="gazetauzao@mail.ru") gazetauzao@mail.ru