footer.footer
	.footer__row
		.footer__group
			include ../../common.blocks/logo/logo
			p.text.text_color_white Сетевое издание "Москва Зa Кaлужcкoй зacтaвoй" зарегистрировано в Федеральной службе по надзору в сфере связи и массовых коммуникаций.
			include ../../common.blocks/list/list-social-networks
			include ../../common.blocks/list/list-apps
		.footer__group
			p.heading.heading_size_h5.heading_color_white Свидетельство о регистрации СМИ
			a.button.button_hover(href="#") Эл № ФС77-61234 от 03 апреля 2015 г.
			p.text.text_color_white При использовании любых материалов ссылка на сайт обязательна.
		.footer__group
			p.heading.heading_size_h5.heading_color_white Контакты
			p.text.text_color_white Адрес редакции:
			a.link.link_important.link_color_white(href="#")  ул. Нагорная, дом 26, корпус 1, 1-й подъезд, 2-й этаж
			p.text.text_color_white Тел./факс редакции:
			a.link.link_important.link_color_white(href="tel:84991271839") 8(499)127-18-39
			p.text.text_color_white Email:
			a.link.link_important.link_color_white(href="gazetauzao@mail.ru") gazetauzao@mail.ru
	.footer__row
		.footer__group-collun-2
			p.heading.heading_size_h5.heading_color_white Популярные теги
			include ../../library.blocks/tegs/tegs
		.footer__group-row
			include ../../library.blocks/categories/categories
			include ../../library.blocks/categories/categories
	.footer__row
		.footer__group-collun-3
			p.heading.heading_size_h3.heading_color_white Районные газеты
				include ../../library.blocks/navigation/navigation-text
	.footer__row
		.footer__group-collun-3
			p.heading.heading_size_h3.heading_color_white Районные газеты
				include ../../library.blocks/navigation/navigation-text
	.footer__row
		.footer__group-collun-3
			p.heading.heading_size_h3.heading_color_white Ведомства
			include ../../library.blocks/post-gallery/post-gallery_banners-all