.share-count
			p
				span#share-count-value.share-counter 380
				span.share-text Shares
		a.share-link(href="https://www.facebook.com/sharer/sharer.php?u=https://codepen.io/abhishekp1996/pen/wmvMKJ" target="_blank")
			.share.share-facebook
				i.fa.fa-facebook
		a.share-link(href="https://twitter.com/home?status=abc" target="_blank")
			.share.share-twitter
				i.fa.fa-twitter
		a.share-link(href="https://plus.google.com/share?url=https://codepen.io/abhishekp1996/pen/wmvMKJ" target="_blank")
			.share.share-google
				i.fa.fa-google-plus