section.video-blog
	.video-blog__promo(style='background-image: url(https://source.unsplash.com/user/oria_hector/720x500)')
		.video-blog__text-field.video-blog__text-field_promo
			.label
			time(datetime="17.02.2018").publication-date.video-blog__publication-date 17 Февраля 2018
			a(href='article.html').link.video-blog__link Культ личности означает аутотренинг
	.video-blog__list
		.video-blog__item
			img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.video-blog__text-field._no_padding
				a(href='article.html').link.video-blog__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").publication-date.video-blog__publication-date 17 Февраля 2018
		.video-blog__item
			img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.video-blog__text-field._no_padding
				a(href='article.html').link.video-blog__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").publication-date.video-blog__publication-date 17 Февраля 2018
		.video-blog__item
			img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.video-blog__text-field
				a(href='article.html').link.video-blog__link Культ личности означает аутотренинг
				time(datetime="17.02.2018").publication-date.video-blog__publication-date 17 Февраля 2018