.calendar-container,
.calendar .description {
  padding: 0 3px
}

.calendar {
  padding: 0 12px
}

.calendar ul {
  margin: 0;
  padding: 0
}

.calendar li {
  list-style: none
}

.calendar .left-arrow,
.calendar .right-arrow {
  cursor: pointer
}

.calendar .right-arrow {
  text-align: right
}

.calendar .month {
  text-align: center
}

.month-title {
  padding: 0 12px
}

.calendar .calendar-table {
  font-size: .9em;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 0
}

.calendar .calendar-table tr td {
  padding: 4px;
  color: #4185a5;
  border: 0
}

.calendar .calendar-table tr.head td {
  color: #000
}

.calendar .calendar-table td.day-off {
  color: #e78c7f
}

.calendar .calendar-table td.active {
  color: #fff;
  background-color: #dc0000
}

.calendar .description {
  font-size: .9em
}

.calendar .description .list-item {
  margin: 0 0 4px
}