ul.navigation__list
	li.navigation__item
		a.link.link_hover(href='list.html') Об издании
	li.navigation__item
		a.link.link_hover(href='#') Разделы
	li.navigation__item
		a.link.link_hover(href='gallery.html') Афиша
	li.navigation__item
		a.link.link_hover(href='gallery.html') Сайты ЮЗАО
	li.navigation__item
		a.link.link_hover(href='list.html') Архив	