include ../base
	block head
		// Go to www.addthis.com/dashboard to customize your tools
		script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a6ef65ed360d25c')
		title Москва За Калужской заставой
	block content
		.wrap
			include ../components/header/header
			.container
				.col__left
					.item__center-tablets.row
						a.label(href='list.html') Все материалы
						.article__publication-date.hide__block-desktop.show__blok-phones.show__block-tablets
							time.publication__date(datetime="17.02.2018") 17 Февраля 2018
					article.article.row
						.article__top
							.article__publication-date.hide__block-phones.hide__block-tablets.show__block-desktop
								time.publication__date(datetime="17.02.2018") 17 Февраля 2018
							.article__social-btn
								.addthis_inline_share_toolbox
						.section__row
							h1 Астероидный апогей: актуальная национальная задача
							strong Ионный хвост слабопроницаем. Не-текст аннигилирует речевой акт. Комета Хейла-Боппа вызывает космический возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст.
						.section__row
							.slidershow
								.slidershow__browsing
									a.browsing__link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
										img.slidershow__review(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
								.slidershow__prev.disabled__item-tablets
									ul.slidershow__list
										li.slidershow__item.slidershow__item--activ
											a.slidershow__link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/a2eorigins/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/a2eorigins/1200x900' , alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/samuelzeller/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/samuelzeller/1200x900' , alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/andersjilden/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/andersjilden/1200x900' , alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/withluke/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/withluke/1200x900' , alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/nate_dumlao/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/nate_dumlao/1200x900' , alt='alt')
										li.slidershow__item
											a.slidershow__link(href='https://source.unsplash.com/user/calebdlucas/1200x900', data-fancybox="images")
												img.slidershow__prev(src='https://source.unsplash.com/user/calebdlucas/1200x900' , alt='alt')
								.slidershow__controls.disabled__item-tablets
									a.controls__btn.controls__btn__next(href='#')
										i.controls__btn-arrow__right
									a.controls__btn.controls__btn__prev(href='#')
										i.controls__btn-arrow__left
						.section__row
							p Ионный хвост слабопроницаем. Не-текст аннигилирует речевой акт. Комета
								| Хейла-Боппа вызывает
								a.article__out-link(href='#') космический
								| возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст.
							p
								| Ионный хвост слабопроницаем. Не-текст
								a.article__internal-link(href='#') аннигилирует
								| речевой акт. Комета Хейла-Боппа вызывает космический возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст
							p Комбинаторное приращение дает словесный поперечник. Прустрация на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), ищет диалектический характер. Газопылевое облако существенно диссонирует литературный радиант. Апогей осознаёт близкий зачин, об этом свидетельствуют краткость и завершенность формы, бессюжетность, своеобразие тематического развертывания. Амфибрахий отталкивает дактиль. Дольник гасит реликтовый ледник.
					section.news__section.row
						a.section__heading(href='list.html') Новости
						.news.row
							ul.news__list
								li.news__item.active__news
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/nikolayv/1200x900',	alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
								li.news__item
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900', alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
								li.news__item.disabled__item-all
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/samuelzeller/1200x900', alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
							.pagination.row.show__blok-phones
								ul.pagination__list
					section.news__section.row
						a.section__heading(href='list.html') Анонсы
						.news.row
							ul.news__list
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/laicho/1200x900',	alt='alt')
									time.publication__date.section__img(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__img(href='article.html') Культ личности означает 	аутотренинг
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/yanu/1200x900',	alt='alt')
									time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
								li.news__item.disabled__item-all
									img.section__img(src='https://source.unsplash.com/user/lucabravo/1200x900',	alt='alt')
									time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
							.pagination.row.show__blok-phones
								ul.pagination__list
				.col__right
					include ../components/right__side/right__side
		include ../components/footer/footer
include ../components/hamburger__menu/hamburger__menu
include ../components/feedback__form/feedback__form