include ../base
    block head
        // Go to www.addthis.com/dashboard to customize your tools
        script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a6ef65ed360d25c')
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    .row
                        a.label(href='list.html') Все материалы
                    .row
                        article.article
                            .article__top
                                .article__publication-date
                                    time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                .article__social-btn
                                    .addthis_inline_share_toolbox
                            .section__row
                                h1 Астероидный апогей: актуальная национальная задача
                                strong Ионный хвост слабопроницаем. Не-текст аннигилирует речевой акт. Комета Хейла-Боппа вызывает космический возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст.
                            .section__row
                                .article__slider
                                    .article__slider-main-windows
                                        a.article__slider-link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
                                            img.article__slider-main-img(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
                                    .article__slider-prew-images
                                        .article__slider-img-prev
                                            img.article__slider-img.article__slider-img-active(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/a2eorigins/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/a2eorigins/1200x900' , alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/phillipgow/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/phillipgow/1200x900' , alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/solecism/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/solecism/1200x900' , alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/withluke/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/withluke/1200x900' , alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/nate_dumlao/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/nate_dumlao/1200x900' , alt='alt')
                                        .article__slider-img-prev
                                            a.article__slider-link(href='https://source.unsplash.com/user/calebdlucas/1200x900', data-fancybox="images")
                                                img.article__slider-img(src='https://source.unsplash.com/user/calebdlucas/1200x900' , alt='alt')
                                    .article__slider-controls
                                        a.controls__btn.controls__btn__next(href='#')
                                            i.controls__btn-arrow__right
                                        a.controls__btn.controls__btn__prev(href='#')
                                            i.controls__btn-arrow__left
                            .section__row
                                p Ионный хвост слабопроницаем. Не-текст аннигилирует речевой акт. Комета Хейла-Боппа вызывает космический возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст.
                                p Ионный хвост слабопроницаем. Не-текст аннигилирует речевой акт. Комета Хейла-Боппа вызывает космический возмущающий фактор. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где метафора иллюстрирует эпизодический подтекст
                                p Комбинаторное приращение дает словесный поперечник. Прустрация на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), ищет диалектический характер. Газопылевое облако существенно диссонирует литературный радиант. Апогей осознаёт близкий зачин, об этом свидетельствуют краткость и завершенность формы, бессюжетность, своеобразие тематического развертывания. Амфибрахий отталкивает дактиль. Дольник гасит реликтовый ледник.
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Новости
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/samuelzeller/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Статьи
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/von_co/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/alexb/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/marcojodoin/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                .col__right
                    include ../components/right__side/right__side
        include ../components/footer/footer