aside.categories.visuallyhidden
	.close__batton.categories--close
		span.close-icon
	ul.categories-accordeon
		li.categories__item
			a.categories__trigger(href='#') Общество
			.categories__content
				.categories__content_inner
					ul.nav__list.categories__list
						li.nav__item.categories__item
							a.nav__link(href='list.html') Закон
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Экономика
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') ЖКХ
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Безопасность
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Служу Отечеству
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Общество
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Активный гражданин
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
		li.categories__item
			a.categories__trigger(href='#') Общество
			.categories__content
				.categories__content_inner
					ul.nav__list.categories__list
						li.nav__item.categories__item
							a.nav__link(href='list.html') Закон
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Экономика
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') ЖКХ
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Безопасность
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Служу Отечеству
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Общество
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Активный гражданин
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
		li.categories__item
			a.categories__trigger(href='#') Общество
			.categories__content
				.categories__content_inner
					ul.nav__list.categories__list
						li.nav__item.categories__item
							a.nav__link(href='list.html') Закон
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Экономика
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') ЖКХ
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Безопасность
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Служу Отечеству
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Общество
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Активный гражданин
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото
		li.categories__item
			a.categories__trigger(href='#') Общество
			.categories__content
				.categories__content_inner
					ul.nav__list.categories__list
						li.nav__item.categories__item
							a.nav__link(href='list.html') Закон
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Экономика
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') ЖКХ
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Безопасность
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Служу Отечеству
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Общество
						li.nav__item.categories__item
							a.nav__link.categories__link(href='list.html') Активный гражданин
						li.nav__item.categories__item
							a.nav__link.categories__link(href='gallery.html') Фото