.section-header {
  display: flex;
  position: relative;
  align-items: center;
  width: 78%;
  height: 3.5vh;
  &__first-column {
    position: absolute;
    left: 0;
  }
  &__center-column {
    position: absolute;
    left: 34%;
  }
  &__end-column {
    position: absolute;
    left: 68%;
  }
  &__end-column-items-end {
    position: absolute;
    right: 0;
  }
  @extend %limiter;
  @extend %_cut_val-24;
}