include ../base
block head
	title Москва За Калужской заставой
block content
	.page
		//- include ../../library.blocks/header/header
		.content
			.column-big
				.labels
					ul.labels__list.row
						each labelsValue in ['Новости ЮЗАО', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи', 'Статьи']
							li.labels__item
								a(href='list.html').labels__link= labelsValue
				section.nav-page
					span.heading Новости
					ul.nav-page__list
						li.nav-page__item
							.nav-page__img
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900',alt='alt')
							.nav-page__text
								time.publication-date(datetime="17.02.2018") 17 Февраля 2018
								a.link(href='article.html')
									h1.heading Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/seanpollock/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/redvers/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/isaacdavis/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/johnygoerend/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/thoughtcatalog/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/capturebylucy/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
							li.nav-page__item
								.nav-page__img
									img.img-teg(src='https://source.unsplash.com/user/dean_du/1200x900',alt='alt')
								.nav-page__text
									time.publication-date(datetime="17.02.2018") 17 Февраля 2018
									a.link(href='article.html')
										h1.heading Lorem ipsum dolor sit amet
									a.link(href='article.html')
										p.text.nav-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
				.pagination.nav-page__pagination
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--activ(href='#') 1
						li.pagination__item
							a.pagination__link(href='#') 2
						li.pagination__item
							a.pagination__link(href='#') 3
						li.pagination__item
							a.pagination__link(href='#') 4
						li.pagination__item
							a.pagination__link(href='#') 5
						li.pagination__item
							a.pagination__link(href='#') 6
						li.pagination__item
							a.pagination__link(href='#') 7
					.pagination__controls.hide__block-phones
						a.controls__button.controls__button_next(href='#')
							i.controls_arrow.controls__arrow_right
						a.controls__button.controls__button_prev(href='#')
							i.controls_arrow.controls__arrow_left
			.column-small
		//- 		include ../../common.blocks/right-side/right-side
		//- include ../../library.blocks/footer/footer
		//- include ../../common.blocks/categories/categories
		//- include ../../common.blocks/feedback-form/feedback-form