.quoet
	.quoet__img(style='background-image: url(https://source.unsplash.com/1200x900?face)')
		img._visually_hidden(src="https://source.unsplash.com/1200x900?face", alt="alt")
		p.quoet-img__copyright Фото с сайта: unsplah.com
	.quoet__text-block
		blockquote.text.quoet__text Столичное образование динамично развивается, укрепляя свои лидирующие позиции в стране и показывая отличные результаты в мировом масштабе. Глубокие знания позволяют московским школьникам побеждать на всероссийских олимпиадах, занимать первые места в международных рейтингах, успешно сдавать ЕГЭ и поступать в лучшие вузы столицы. Главные творцы успехов московской школы — учителя.
		p.quoet__autor Cообщается в поздравительной телеграмме на официальном портале Мэра и Правительства Москвы.