.header{
  display: flex;
  width: 100%;
  height: 100px;
  background: $dark__violet;

  &__container{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    max-width: 1200px;
    min-width: 320px;
  }
}

.header__left{
  position: relative;
  width: 20%;
  display: flex;
  right: 16px;
}
.header__right{
  width: 80%;
}

.logo{
  width: 185px;
  height: 50px;

  &__img{
    display: block;
    width: 100%;
  }

}

.nav{

  &__list{
    display: flex;
    white-space: nowrap;
  }

  &__item{
    height: 25px;

    &:after{
      content:'|';
      color: $white;
      padding: 0 5px;
    }

  }
  &__link{
    color: $white;

    &:hover{
      color: $yellow;
    }

  }
}

.nav__item:last-child:after{
  content: none;
  display: none;
}