header.header
		.header__container
				.header__left
						a.logo(href='index.html')
							img.img-teg(src='./img/logo/logo_min.png')
				.header__right
						.header__right-row.disabled__item-tablets
								ul.nav__list
									li.nav__item
										a.nav__link(href='list.html') Закон
									li.nav__item
										a.nav__link(href='list.html') Экономика
									li.nav__item
										a.nav__link.categories--open(href='#') Разделы
									li.nav__item
										a.nav__link(href='list.html') Безопасность
									li.nav__item
										a.nav__link(href='list.html') Служу Отечеству
									li.nav__item
										a.nav__link(href='list.html') Общество
									li.nav__item
										a.nav__link(href='list.html') Активный гражданин
									li.nav__item
										a.nav__link(href='gallery.html') Фото
									li.nav__item
										a.nav__link.open__form(href='#') Письмо в редакцию
						.header__right-row
							.header__serch
								svg.header__serch-icon
									use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'search')
							ul.social__list
								li.social__item
									a.socila__link(href='#')
										svg.social__icon
											use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'vk')
								li.social__item
									a.socila__link(href='#')
										svg.social__icon
											use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'fb')
								li.social__item
									a.socila__link(href='#')
										svg.social__icon
											use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'tw')
								li.social__item
									a.socila__link(href='#')
										svg.social__icon
												use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'inst')
							a.h__menu-link(href='#')
								.h__menu-link__bars