header.header
    .header__container
        .header__top
            a.logo(href='index.html')
                img.logo__img(src='./img/logo/logo_min.png')
            ul.nav__list
                li.nav__item
                    a.nav__link(href='list.html') Закон
                li.nav__item
                    a.nav__link(href='list.html') Экономика
                li.nav__item
                    a.nav__link(href='list.html') ЖКХ
                li.nav__item
                    a.nav__link(href='list.html') Безопасность
                li.nav__item
                    a.nav__link(href='list.html') Служу Отечеству
                li.nav__item
                    a.nav__link(href='list.html') Общество
                li.nav__item
                    a.nav__link(href='list.html') Активный гражданин
                li.nav__item
                    a.nav__link(href='list.html') Фото
                li.nav__item
                    a.nav__link(href='#') Письмо в редакцию
        .header__bottom
            a.header__serch
            ul.social__list
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon