header.header
    .header__content
        .header__row
            .logo
                img.logo__img(href='../img/logo.png')
            ul.nav__list
                li.nav__item Закон
                li.nav__item Экономика
                li.nav__item ЖКХ
                li.nav__item Безопасность
                li.nav__item Служу Отечеству
                li.nav__item Общество
                li.nav__item Активный гражданин
                li.nav__item Фото
                li.nav__item Письмо в редакцию
        .header__row
            a.header__serch
            ul.social__list
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon
                li.social__item
                    svg.social__icon