.article
{
		line-height: 1.2;
		&__top {
				display: flex;
				justify-content: space-between;
				@include desktop {
						flex-direction: column-reverse;
				}
		}
		&__publication_date {
				align-self: flex-end;
				@include desktop {
						align-self: flex-start;
				}
		}
		&__social_btn {
				flex-basis: 80%;
		} 
//text
		h1 {
				@include noto-sans__bold;
		}
		p {
				margin: rem(15px) 0 0 0;
		}

//links
		&__link
		{
				color: $yellow;
			 @include roboto-bold;
				padding: 0 rem(10px);
				white-space: nowrap;
				&:before {
						content: '';
						display: inline-block;
						content: '';
						width: 15px;
						height: 15px;
						padding: 0 rem(5px) 0 0;
						background-size: 15px;
						background: url("../img/link.svg") no-repeat;
				}
		}
		&__link--out
		{
				&:before {
						display: inline-block;
						content: '';
						width: 15px;
						height: 15px;
						padding: 0 rem(5px) 0 0;
						background-size: 15px;
						background: url(../img/out-link.svg) no-repeat;
				}
		}
		&__link--hover:hover {
				text-decoration: underline;
		}
}