.serch-form {
  position: absolute;
  top: 30%;
  animation-name: in-out;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  @import "./__input/__input";
  @import "./__input/__input_open";
  @import "./__icon/__icon";
}