section.blog
	a.link.link_big.link_center(href='list.html') Колумнистика
	ul.blog__list
		li.blog__item.row
			img.user__img(src='https://source.unsplash.com/user/michaeldam/200x200')
			p.user__name.section__row Кристина Иванова
			a.section-title.section__row(href='article.html') Феномен толпы
		li.blog__item.row
			img.user__img(src='https://source.unsplash.com/user/chrisjoelcampbell/200x200')
			p.user__name.section__row Кристина Иванова
			a.section-title.section__row(href='article.html') Феномен толпы
		li.blog__item.row
			img.user__img(src='https://source.unsplash.com/user/alexandruz/200x200')
			p.user__name.section__row Кристина Иванова
			a.section-title.section__row(href='article.html') Феномен толпы