.blog
{
  display: block;
  @extend %_cut_val-12;

  &__list
  {
    position: relative;
    display: flex;
    flex-direction: column;
    @extend %_cut_val-12;
    @include phones {
      flex-direction: column;
    }
  }
  
  &__item
  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    @extend %_cut_val-12;
    @include phones{
      margin: rem(15px) 0;
      padding: 0;
      }
    }

    &__img
    {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }