ul.list
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'windows')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'app-store')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'google-play')