ul.list
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'vk')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'fb')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'tw')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'inst')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'youtube')
	li.list__item
		a.link(href='#')
			svg.icon.icon_size_small
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'rss')