.serch-form__input_open
{
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 2px solid $yellow;
  border-radius: 0;
  background: none;
  color: $white;
  outline: 2px solid $yellow;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition-delay: 0.4s, 0s, 0.4s;
  transform: translate(-100%, -50%);
  &::placeholder
  {
    opacity: 1;
  }
}