&__input_open {
  padding-left: rem(45px);
  background: $white;
  color: $black-origin;
  transform: translate(-100%, -50%);
  &::placeholder {
    transition: opacity .2s;
    transition-delay: 1s;
    opacity: 1;
  }
  &:focus {
    outline: 1px solid $black-pastel;
  }
  @include iphone-4 {
    top: 48%;
    font-size: 1.225rem;
    width: 90vw;
  }
}