.sitemap
	.sitemap__content
		.sitemap__row
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
		.sitemap__row
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
			include ../categories/categories
		.sitemap__row.sitemap__row_content-limited
			include ../categories/categories
			include ../categories/categories
		.sitemap__row
			.sitemap__block
				p.heading.heading_size_h4.heading_color_white Популярные теги
				include ../../library.blocks/tegs/tegs
			.sitemap__block
				p.heading.heading_size_h4.heading_color_white Мы в соцсетях и наши приложения
				include ../../common.blocks/list/list-social-networks
				include ../../common.blocks/list/list-apps
		section.section-header
			.section-header__first-column
				a(href="list.html").button.button_hover Название секции
			.section-header__center-column
				a(href="list.html").button.button_hover Название секции
			.section-header__end-column
				a(href="list.html").button.button_hover Название секции
		.sitemap__row.sitemap__row_big-content
			include ../post-column/post-column
			include ../post-column/post-column
			include ../post-column/post-column
		.sitemap__row
			p.heading.heading_size_h4.heading_color_white Районные газеты
				include ../../library.blocks/navigation/navigation-text
			p.heading.heading_size_h4.heading_color_white Районные газеты
				include ../../library.blocks/navigation/navigation-text