&_default {
  width: 25vw;
  height: 30vh;

  @include large {
    width: 30vw;
  }

  @include medium {
    width: 30vw;
    height: 35vh;
  }

  @include small {
    width: 30vw;
    height: 30vh;
  }

  @include iphone-4 {
    width: 100%;
  }

  @include iphone-4-landscape {
    height: 75vh;
  }


}