&_full{
  width: 100vw;
  height: 75vh;
  @include iphone-4 {
    height: 80vh;
  }
  @include iphone-4 {
    background-position: center;
    background-attachment: inherit;
  }
  @include iphone-5 {
    background-position: center;
    background-attachment: inherit;
  }
  @include iphone-6-7-8 {
    background-position: center;
    background-attachment: inherit;
    height: 30vh;
  }
}