&_mini {
  width: 12vw;
  height: 15vh;

  @include large{
    height: 14vh;
  }

  @include small{
    display: none;
  }
  @include iphone-4{
    display: none;
  }
  @include iphone-4-landscape {
    width: 90vw;
    height: 39vh;
    display: block;
  }
  @include iphone-5-landscape {
    width: 50vw;
    height: 40vh;
    display: block;
  }
  @include iphone-6-7-8 {
    display: none;
  }
  
}