.header__logo {
	position: relative;
	display: flex;
	width: 20%;

	@include iphone-4 {
		display: block;
		width: 40%;
	}

	@include iphone-5 {
		display: block;
		width: 40%;
	}

	@include iphone-6-7-8 {
		display: block;
		width: 40%;
	}

	@include iphone-6-7-8-landscape {
		display: block;
		width: 40%;
	}
}