header.header.header_bottom_border
	.header__block
		.header__logo
			include ../logo/logo
		.header__nav
			include ../../library.blocks/navigation/navigation
		.header__serch
			include ../../library.blocks/serch-form/serch-form