@import './__block';
@import './__logo';
@import './__serch';
@import './__nav';
@import './_bottom_border';

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 998;
  padding: 1% 0;
  background: $white;

  @include small {
    padding: 2% 1%;
  }

  @include iphone-4 {
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 15%;
    padding: 0;
  }
  @include iphone-5 {
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding: 0;
  }
  @include iphone-6-7-8 {
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding: 0;
  }

}