@import './__block';
@import './__logo';
@import './__serch';
@import './__nav';
@import './_bottom_border';

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 998;
  background: $white;
}