include ../config/mixin
include ../base
	block head
		title Москва За Калужской заставой
	block content
		.wrap
			include ../components/header/header
			.container
				.col__left
					section.slider
						include ../components/slider/slider
					section.news-section.row
						include ../components/section-news/section-news
					section.news-section.row
						a.section-heading(href='list.html') Анонсы
						div.news(data-class='slider__teg').row
							ul.news__list(data-class='slider__list')
								+listItem('news__item', 'https://source.unsplash.com/user/yanu/1200x900', '17.02.2018', 'Культ личности означает аутотренинг')
								+listItem('news__item', 'https://source.unsplash.com/user/laicho/1200x900', '17.02.2018', 'Культ личности означает аутотренинг')
								+listItem('news__item', 'https://source.unsplash.com/user/lucabravo/1200x900', '17.02.2018', 'Культ личности означает аутотренинг')
							.pagination.row.show__blok-phones
								ul.pagination__list(data-class='pagination__list')
									//- generation on js
					section.news-section.row
						a.section-heading(href='list.html') Статьи
						div.news(data-class='slider__teg').row
							ul.news__list(data-class='slider__list')
								+listItem('news__item', 'https://source.unsplash.com/user/von_co/1200x900', 'NaN', 'Культ личности означает аутотренинг', 'NaN')
								+listItem('news__item', 'https://source.unsplash.com/user/alexb/1200x900', 'NaN', 'Культ личности означает аутотренинг', 'NaN')
								+listItem('news__item', 'https://source.unsplash.com/user/marcojodoin/1200x900', 'NaN', 'Культ личности означает аутотренинг', 'NaN')
							.pagination.row.show__blok-phones
								ul.pagination__list(data-class='pagination__list')
						section.cloud.row.disabled__item-tablets
							span.section-heading Облако тегов
								.cloud__tegs.row
									include ../components/teg-cloud/teg-cloud
						section.banners.row(data-class='slider__teg')
							include ../components/banners-slider/banners-slider
				.col__right
					include ../components/right-side/right-side
			include ../components/footer/footer
include ../components/hamburger-menu/hamburger-menu
include ../components/feedback-form/feedback-form
include ../components/categories/categories