include ../base
	block head
		title Москва За Калужской заставой
	block content
		.wrap
			include ../components/header/header
			.container
				section.slider__adaptiv
					.slider__img
						img(src='https://source.unsplash.com/user/hellocolor/1200x900', alt='alt')
					.slider__text
						.labels
							span.label Фото
							span.label Видео
						.slider__row
							time.publication__date(datetime="17.02.2018") 17 Февраля 2018
						a.slider__link(href='article.html')
							h1 Экспериментальный феномен толпы
							p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
				.col__left
					section.slider.disabled__item-tablets
						.slider__teg
							ul.slider__list
								li.slider__item.active__slide
									.slider__img
										img(src='https://source.unsplash.com/user/hellocolor/1200x900',alt='alt')
									.slider__text
										.labels
											span.label Фото
											span.label Видео
										.slider__row
											time.publication__date(datetime="17.02.2018") 17 Февраля 2018
										a.slider__link(href='article.html')
											h1 Экспериментальный феномен толпы
											p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
								li.slider__item
									.slider__img
										img(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
									.slider__text
										.labels
											span.label Фото
											span.label Видео
										.slider__row
											time.publication__date(datetime="17.02.2018") 17 Февраля 2018
										a.slider__link(href='article.html')
											h1 Феномен толпы
											p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
								li.slider__item
									.slider__img
										img(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
									.slider__text
										.labels
											span.label Фото
											span.label Видео
										.slider__row
											time.publication__date(datetime="17.02.2018") 17 Февраля 2018
										a.slider__link(href='article.html')
											h1 Экспериментальные толпы
											p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы.
							.slider__controls.disabled__item-tablets
								a.controls__btn.controls__btn__next(href='#')
									i.controls__btn-arrow__right
								a.controls__btn.controls__btn__prev(href='#')
									i.controls__btn-arrow__left
							.pagination.row
								ul.pagination__list
					section.news__section.row
						a.section__heading(href='list.html') Новости
						.news.row
							ul.news__list
								li.news__item.active__news
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/nikolayv/1200x900',	alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
								li.news__item
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900', alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
								li.news__item.disabled__item-all
										.section__img
											img.img__teg(src='https://source.unsplash.com/user/samuelzeller/1200x900', alt='alt')
										time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
										a.section__title.section__row(href='article.html') Культ личности 	означает аутотренинг
										p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
							.pagination.row.show__blok-phones
								ul.pagination__list
					section.news__section.row
						a.section__heading(href='list.html') Анонсы
						.news.row
							ul.news__list
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/laicho/1200x900',	alt='alt')
									time.publication__date.section__img(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__img(href='article.html') Культ личности означает 	аутотренинг
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/yanu/1200x900',	alt='alt')
									time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
								li.news__item.disabled__item-all
									img.section__img(src='https://source.unsplash.com/user/lucabravo/1200x900',	alt='alt')
									time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
							.pagination.row.show__blok-phones
								ul.pagination__list
					section.news__section.row
						a.section__heading(href='list.html') Статьи
						.news.row
							ul.news__list
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/von_co/1200x900',	alt='alt')
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
								li.news__item
									img.section__img(src='https://source.unsplash.com/user/alexb/1200x900',	alt='alt')
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
								li.news__item.disabled__item-all
									img.section__img(src='https://source.unsplash.com/user/marcojodoin/1200x900', alt='alt')
									a.section__title.section__row(href='article.html') Культ личности означает 	аутотренинг
							.pagination.row.show__blok-phones
								ul.pagination__list
						section.cloud.row.disabled__item-tablets
							span.section__heading Облако тегов
								.cloud__tegs.row
									a.cloud__teg.cloud__pop__teg(href='list.html') Москва
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') ЮЗАО
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Собянин
									a.cloud__teg(href='list.html') Lorem
									a.cloud__teg(href='list.html') Котловка
									a.cloud__teg(href='list.html') Lorem
						section.banners.row
							.horizontal__slider
								.horizontal__slider-item
									a.horizontal__slider-link(href='http://yandex.ru')
										.horizontal__slider-img
											img(src='https://source.unsplash.com/user/stickermule/1200x900', alt='alt')
									a.horizontal__slider-link(href='http://yandex.ru')
										.horizontal__slider-img
											img(src='https://source.unsplash.com/user/goian/1200x900', alt='alt')
									a.horizontal__slider-link(href='http://yandex.ru')
										.horizontal__slider-img
											img(src='https://source.unsplash.com/user/elijahsad/1200x900', alt='alt')
								.pagination.row.show__blok-phones
									ul.pagination__list
										//- li.pagination__item
										//- 	a.pagination__link.pagination__link--activ(href='#') 1
										//- li.pagination__item
										//- 	a.pagination__link(href='#') 2
										//- li.pagination__item
										//- 	a.pagination__link(href='#') 3
								.horizontal__slider-controls.disabled__item-phones
									a.controls__btn.controls__btn__next(href='#')
										i.controls__btn-arrow__right
									a.controls__btn.controls__btn__prev(href='#')
										i.controls__btn-arrow__left
				.col__right
					include ../components/right__side/right__side
		include ../components/footer/footer
include ../components/hamburger__menu/hamburger__menu
include ../components/feedback__form/feedback__form