.labels {
    display: flex;
    display: flex;
}

.label {
    color: $black;
    padding: rem(10px);
    margin: 0 rem(10px) 0 0;
    background: $yellow;
    &:last-child {
        margin: 0;
    }
}

.section__row {
    margin: rem(15px) 0 0 0;
}

.section__img {
    width: 100%;
    overflow: hidden;
    @include phones {
        width: 89.9vw;
    }
}

.section-title {
        @include noto-sans__bold;
        font-size: rem(16px);
    color: $black;
    @include phones {
        font-size: rem(20px);
        width: 100%;
    }
    &:hover {
        color: $red;
    }
}

.cloud {
    &__tegs {
        display: flex;
        flex-wrap: wrap;
    }
    &__teg {
        font-size: rem(13px);
        color: $black;
        opacity: .5;
        padding: 0 rem(5px);
        &:hover {
            opacity: .9;
        }
    }
    &__pop__teg {
        color: $red;
        text-transform: uppercase;
        opacity: .6;
    }
}