.text {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: rem(18px);
  font-weight: 400;
  font-style: normal;

  @import './_size_small.scss';
  @import './_color_red.scss';
  @import './_color_white.scss';
  @import './_quoet.scss';
}