&__item {
  display: flex;
  align-items: center;
  color: $black-origin;

  &:after {
    content: '>';
    padding: 0 rem(15px);
  }

  &:last-child {
    pointer-events: none;

    .breadcrumb__link {
      border-bottom: 0.5px solid $black-shade; 
    }
  }

  &:last-child::after {
    content: none;
  }
}