footer
    .footer__content
        .footer__col
            .logo
                img
            .footer__text
                p Сетевое издание "Москва Зa Кaлужcкoй зacтaвoй" зарегистрировано в Федеральной службе по надзору в сфере связи и массовых коммуникаций.
                p Свидетельство о регистрации СМИ :
                p Эл № ФС77-61234 от 03 апреля 2015 г.
                p При использовании любых материалов ссылка на сайт обязательна.
                p Контакты:
                p
                    | Адрес редакции:
                    address  ул. Нагорная, дом 26, корпус 1, 1-й подъезд, 2-й этаж
                p
                   | Тел./факс редакции:
                   a(href="tel:84991271839") 8(499)127-18-39
                p
                    | Email:
                    a(href="gazetauzao@mail.ru") gazetauzao@mail.ru
        .footer__col
            .footer__nav
                span.footer__heading lorem
                ul.footer__nav-list
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
            .footer__nav
                span.footer__heading lorem
                ul.footer__nav-list
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
            .footer__nav
                span.footer__heading lorem
                ul.footer__nav-list
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
                    li.footer__nav-item
                         a.footer__nav-link(href="#") Lorem ipsum
        .footer__col
            .footer__app
                ul.app__list
                    li.app__item
                        a.app__link(href='#')
                            svg.app__icon
                    li.app__item
                        a.app__link(href='#')
                            svg.app__icon
                    li.app__item
                        a.app__link(href='#')
                            svg.app__icon