.share-link
  input#shareLinkInput.share-link__input(type="text", value='' disabled)
  button#shareLinkButton.share-link__button.share-link__button_active
    svg.icon-default.share-link__icon
      use(xlink:href='../img/svg/symbols.svg' + '#' + 'share-arrow')
    span.share-link__text Скопировать ссылку
