&__text-block {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
  height: 80%;
  transform: translateY(-55%);
  z-index: 100;
}