figure.card-gallery.card-gallery_hover
	.img.card-gallery__img
		img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	figcaption.card-gallery__text-block
		.card-gallery__data
			include ../../user/user
			time(datetime="17.02.2018").post-data.card-gallery__post-data 17.10.2018
		a(href='article.html').heading.heading_size_h5.card-gallery__heading Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		include ../../tegs/tegs-card-mod