section.blog
	a.link.link_font_24(href='#') Статьи
	ul.blog__list
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018
		li.blog__item
			.img-default
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900')
			a.link.link_font_24(href='article.html') Экспериментальные толпы
			time.post-data(datetime="17.02.2018") 17 Февраля 2018