include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				
			include ../../common.blocks/footer/footer