.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25% 5%;
  &__header{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  &__heading{
    @extend %_cut_val-24;
  }
  p, {
    padding: 0 15%;
    @extend %_cut_val-24;
  }
  strong {
    @extend %_cut_val-24;
  }
}