include ../base
	block head
		script.
			(function(w,doc) {
			if (!w.__utlWdgt ) {
			w.__utlWdgt = true;
			var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
			s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
			s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
			var h=d[g]('body')[0];
			h.appendChild(s);
			}})(window,document);
		title Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				include ../../library.blocks/card/card-full/card-full
				header._visually_hidden
						h1(itemprop="name") Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
				article.article
					.article__panel
						.uptolike-buttons(data-mobile-view='true', data-share-size='40', data-like-text-enable='false', data-background-alpha='0.0', data-pid='1769524', data-mode='share', data-background-color='#ffffff', data-hover-effect='scale', data-share-shape='rectangle', data-share-counter-size='12', data-icon-color='#ffffff', data-mobile-sn-ids='fb.vk.tw.ok.wh.vb.tm.', data-text-color='#000000', data-buttons-color='#FFFFFF', data-counter-background-color='#ffffff', data-share-counter-type='disable', data-orientation='horizontal', data-following-enable='false', data-sn-ids='fb.vk.tw.gp.tm.ok.gt.em.', data-preview-mobile='false', data-selection-enable='false', data-exclude-show-more='false', data-share-style='1', data-counter-background-alpha='1.0', data-top-button='false')
						include ../../library.blocks/share-link/share-link
					include ./test/article-big-text
					.article__panel
						include ../../library.blocks/user/user
						.uptolike-buttons(data-mobile-view='true', data-share-size='40', data-like-text-enable='false', data-background-alpha='0.0', data-pid='1769524', data-mode='share', data-background-color='#ffffff', data-hover-effect='scale', data-share-shape='rectangle', data-share-counter-size='12', data-icon-color='#ffffff', data-mobile-sn-ids='fb.vk.tw.ok.wh.vb.tm.', data-text-color='#000000', data-buttons-color='#FFFFFF', data-counter-background-color='#ffffff', data-share-counter-type='disable', data-orientation='horizontal', data-following-enable='false', data-sn-ids='fb.vk.tw.gp.tm.ok.gt.em.', data-preview-mobile='false', data-selection-enable='false', data-exclude-show-more='false', data-share-style='1', data-counter-background-alpha='1.0', data-top-button='false')
					.article__panel
						include ../../library.blocks/tegs/tegs
					section.section-header
						.section-header__first-column
							span.heading.heading_size_h6 Прикрепленные файлы
					.article__panel-file
						include ../../library.blocks/card/card-file/card-file
						include ../../library.blocks/card/card-file/card-file
						include ../../library.blocks/card/card-file/card-file
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
			include ../../common.blocks/footer/footer