include ../base
	block head
		title Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				include ../../common.blocks/card/card-full/card-full-article
				header._visually_hidden
						h1(itemprop="name") Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
				article.article
					include ../../library.blocks/share-link/share-link
					include ./test/article-big-text
				.page__limiter-column
					include ../../library.blocks/tegs/tegs
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
				include ../../library.blocks/post-gallery/post-gallery_bg_black-shade
				section.section-header
					.section-header__first-column
						a(href="list.html").button.button_hover Название секции
					.section-header__center-column
						a(href="list.html").button.button_hover Название секции
					.section-header__end-column
						a(href="list.html").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
					include ../../library.blocks/post-column/post-column
			include ../../common.blocks/footer/footer