mixin mixin-news__list(itemName, imgSrc, data, title, text)
	- var dataTime = data
	- var listText = text
	if dataTime == 'NaN' && listText == 'NaN'
		li(class=itemName, data-class='slider__item')
			.section__img
				img.img-teg(src= imgSrc, alt='alt')
			a(href='article.html').section-title.section__img= title
	else if dataTime == data && listText == text
		li(class=itemName, data-class='slider__item')
			.section__img
				img.img-teg(src= imgSrc, alt='alt')
			time(datetime= dataTime).publication-date.section__img= dataTime
			a(href='article.html').section-title.section__img= title
			p.section__description.section__row= listText