&__item {
  position: relative;
  width: 24vw;
  margin: rem(15px) rem(24px) 0 0;
  overflow: hidden;

  &:nth-child(3n) {
    margin: rem(15px) 0 0 0;
  }

  @include medium {
    width: 30vw;
  }
  @include small{
    width: 30vw;
  }
}