&__item {
  position: relative;
  width: 24vw;
  margin: rem(15px) rem(24px) 0 0;
  overflow: hidden;

  &:nth-child(3n) {
    margin: rem(15px) 0 0 0;
  }

  @include medium {
    width: 30vw;
  }

  @include small {
    width: 30vw;
  }

  @include iphone-4 {
    margin: 0;
    width: 100%;

    &:nth-child(n+5) {
      display: none;
    }

    &:nth-child(3n) {
      margin: 0;
    }
  }

  @include iphone-4-landscape {
    margin: 15px 0;
    overflow: visible;
  }

  @include iphone-5 {
    overflow: initial;
  }

  @include iphone-5-landscape {
    margin: 0;
    width: 100%;

    &:nth-child(n+5) {
      display: none;
    }

    &:nth-child(3n) {
      margin: 0;
    }
  }
  @include iphone-6-7-8 {
    margin: 0;
    width: 100%;

    &:nth-child(n+5) {
      display: none;
    }

    &:nth-child(3n) {
      margin: 0;
    }
  }
  @include iphone-6-7-8-plus {
    height: 58vh;
    overflow: initial;
  }
  @include iphone-10-landscape {
    margin: 0 15px 0 0;
    width: 45vw;
    &:nth-child(n+7) {
      display: none;
    }

    &:nth-child(3n) {
      margin: 0 15px 0 0;
    }
  }
}