&__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 1.3vw;
  
  &_banners {
    justify-content: space-between;
    .post-gallery__item {
      width: 32%;

      @include medium {
        margin: rem(15px) 0 0;
        padding: 0;
      }

      @include small {
        width: 30vw;
      }

      
    }
  }

  @import './__list_banners';
}