&__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 1.3vw;
  overflow: hidden;

  &_banners {
    justify-content: space-between;

    .post-gallery__item {
      width: 32%;

      @include medium {
        margin: rem(15px) 0 0;
        padding: 0;
      }

      @include small {
        width: 30vw;
      }

      @include iphone-4 {
        width: 100%;
        margin: rem(15px) 0 0;
      }
    }
  }

  @include iphone-4 {
    flex-flow: nowrap;
    flex-direction: column;
    padding: 0;

    .post-gallery__list {
      &:nth-child(n+3) {
        display: none;
      }
    }
  }

  @import './__list_banners';
}