section.post-gallery
	span.heading.heading_size_h3 Название секции
	ul.post-gallery__list.post-gallery__list_banners
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")