section.post-gallery.post-gallery_bg_black-shade
	section.section-header
		.section-header__first-column
			a(href="list.html").button.button_hover Название секции
	ul.post-gallery__list
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry