.post-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 25px 0;
  overflow: hidden;

  @import './__list';
  @import './__item';
  @import './__post-add';
  @import './_add';
  @import './_bg_black-shade';
}