section.post-gallery.post-gallery_bg_black-shade
	section.section-header
		.section-header__first-column
			a(href="list.html").button.button_hover Название секции
	ul.post-gallery__list
		li.post-gallery__item
<<<<<<< HEAD
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
		li.post-gallery__item
			include ../../common.blocks/card/card-galliry/card-galliry
=======
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
		li.post-gallery__item
			include ../card/card-gallery-photo/card-gallery-photo
>>>>>>> b06eff820b1308f156e5075064d0bfc160dc4b74
