section.post-gallery.post-gallery_post-add
	ul.post-gallery__list
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				a(href='#').img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				a(href='#').img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				a(href='#').img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		li.post-gallery__item
			a(href='#').card-default
				.img.img_default
					img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.post-gallery__post-add
		a(href='#').button.button_line.button_hover Больше