section.main-news
	.main-news__full-block
		.main-news__full-img(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		.main-news__text-block.main-news__text-block_full
			.label
			time(datetime="17.02.2018").post-data.main-news__post-data 17 Февраля 2018
			a(href='article.html').heading.heading_size_h4.heading_color_white Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
	.main-news__list
		.main-news__item
			.img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.main-news__text-block
				a(href='article.html').heading.heading_size_h5.heading_color_white Культ личности означает аутотренинг
				time(datetime="17.02.2018").post-data.main-news__post-data 17 Февраля 2018
		.main-news__item
			.img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.main-news__text-block
				a(href='article.html').heading.heading_size_h5.heading_color_white Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
				time(datetime="17.02.2018").post-data.main-news__post-data 17 Февраля 2018
		.main-news__item
			.img.img_default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
			.main-news__text-block
				a(href='article.html').heading.heading_size_h5.heading_color_white Художественный ритуал: снижение или англо-американский тип политической культуры
				time(datetime="17.02.2018").post-data.main-news__post-data 17 Февраля 2018