.main-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 25px 0;
  overflow: hidden;

  @include iphone-10-landscape {
    height: 100vmax;
  }
  @include ipad-1-2-mini-air {
    height: 125vmax;
  }
  

  @import './__list';
  @import './__item';
  @import './_bg_black-shade';
}