section.main-news
	include ../../common.blocks/card/card-full/card-full
	.main-news__list
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white