section.main-news
	.main-news__full-block
		.main-news__full-img(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
		.main-news__text-block.main-news__text-block_full
			.label
			time(datetime="17.02.2018").post-data.post-data_color_white 17 Февраля 2018
			a(href='article.html').heading.heading_size_h4.heading_color_white Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?» 
	.main-news__list
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white
		.main-news__item
			include ../../common.blocks/card/card-default_white/card-default_white