section.main-news
	include ../../common.blocks/card/card-full/card-full
	.main-news__list
		.main-news__item
			include ../../common.blocks/card/card-default/card-default
		.main-news__item
			include ../../common.blocks/card/card-default/card-default
		.main-news__item
			include ../../common.blocks/card/card-default/card-default