section.main-news.main-news_bg_black-shade
	include ../card/card-full/card-full
	.main-news__list
		.main-news__item
			include ../card/card-default/card-default
		.main-news__item
			include ../card/card-default/card-default
		.main-news__item
			include ../card/card-default/card-default