.delimiter-section
	.delimiter-section__left
		section.affiche
			section.gallery.row
				a.gallery__title(href='gallery.html') Галерея
				.gallery__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
	.delimiter-section__right
			section.interview.row
				a.section-heading.text__center(href='list.html') Интервью
						a.interview__link.section__row(href='article.html')
							.interview__preview
								span.interview__name Алексей Быстрый
								.interview__img
									img.img-teg(src='https://source.unsplash.com/240x600/?person')