.delimiter-section {
  @include tablets {
    display: flex;
    justify-content: space-around;
  }
  @include phones {
    flex-direction: column;
  }
}

.delimiter-section__left, .delimiter-section__right {
  @include grid-col(12 12 12 12);
}