.delimiter-section
	.delimiter-section__left
			section.cover-promo
				a.cover-promo__title(href='gallery.html') Галерея
				.cover-promo__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
			section.cover-promo
				a.cover-promo__title(href='gallery.html') Наши пати
				.cover-promo__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
			section.cover-promo
				a.cover-promo__title(href='gallery.html') Зима - Лето
				.cover-promo__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
			section.cover-promo
				a.cover-promo__title(href='gallery.html') Клевый конкурс
				.cover-promo__img
					img.img-teg(src='https://source.unsplash.com/user/oria_hector/720x500')
	.delimiter-section__right
			section.interview
				a.link.link_big.link_center(href='list.html') Интервью
						a.interview__link.section__row(href='article.html')
							.interview__preview
								span.interview__name Алексей Быстрый
								.interview__img
									img.img-teg(src='https://source.unsplash.com/240x600/?person')