&__text-block {
  bottom: rem(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
  position: absolute;
  width: 60vw;
  margin: 0 0 0 2vw;

  @include iphone-4 {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0.25rem 0 0 0;
    height: 220px;
  }

  @include iphone-5-landscape {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0.25rem 0 0 0;
    height: 220px;
  }

  @include iphone-6-7-8 {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0.25rem 0 0 0;
    height: 220px;
  }

  @include iphone-6-7-8-plus {
    height: 30vh;
  }
  
  @include iphone-6-7-8-plus-landscape {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0.25rem 0 0 0;
    height: 30vh;
  }

  @include iphone-10-landscape {
    height: 50vh;
  }
  
}