&__item {
  display: flex;
  flex-direction: column;
  margin: rem(24px) 0 0 0;
  width: 25vw;
  overflow: hidden;

  &:first-child {
    margin: 0;
  }

  @include medium {
    width: 30vw;
  }

  @include small {
    width: 30vw;
  }

  @include iphone-4 {
    margin: rem(20px) 0 0;
    width: 100%;
    overflow: inherit;
  }

  @include iphone-5 {
    margin: rem(20px) 0 0;
    width: 100%;
    overflow: inherit;
  }

  @include iphone-6-7-8-landscape {
    width: 75vw;
    margin: rem(20px) 0 0;

    &:last-child {
      margin: rem(20px) 0 0;
    }
  }
  @include iphone-10-landscape {
    width: 30vw;
  }
  

}