&__item {
  display: flex;
  flex-direction: column;
  margin: rem(24px) 0 0 0;
  width: 25vw;
  overflow: hidden;

  &:first-child {
    margin: 0;
  }

  @include medium {
    width: 30vw;
  }

  @include small {
    width: 30vw;
  }

  @include iphone-4 {
    margin: 20px 0 0;
    width: 100%;
    overflow: inherit;
  }
  
}