section.post-column.post-column_promo-list
	ul.post-column__list
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo
		li.post-column__item
			include ../../common.blocks/card/card-promo/card-promo