mixin post-column__item(itemName,imgSize)
	- var dataTime = data
	- var bigImg = imgSize
		li(class=itemName)
			case bigImg
				when 0
					include ../card/card-mini/card-mini
				when 1
					include ../card/card-default/card-default

section.post-column
	ul.post-column__list
		+post-column__item('post-column__item', 1)
		+post-column__item('post-column__item', 0)
		+post-column__item('post-column__item', 0)
		+post-column__item('post-column__item', 0)