.post-column {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 rem(24px) 0 0;

  &:last-child{
    margin: 0;
  }
  
  @import './__item';
  @import './__link';
  @import './__list';
  @import './_promo-list';
}