section.img-widget
  a.img-widget__link(href='#')
    .img.img_default
      img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900', alt='alt')
  a.img-widget__link(href='#')
    .img.img_default
      img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900', alt='alt')