.teg-cloud {
  display: flex;
  flex-wrap: wrap;
  &__item {
    font-size: rem(16px);
    padding: 0 rem(15px);
    margin: rem(5px) rem(15px) 0 0;
    background: $red-origin;
    color: $white;
    text-transform: capitalize;
    &::before{
      content: '#'
    }
    &:hover {
      background: $red-tint;
    }
  }
  .teg-cloud__pop__item {
    text-transform: uppercase;
  }
}