.teg-cloud.teg-cloud_color_white
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Москва
  a.teg-cloud__item(href='list.html') ЮЗАО
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') ЮЗАО
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') ЮЗАО
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') ЮЗАО
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Котловка
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Котловка
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Собянин
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item(href='list.html') Котловка
  a.teg-cloud__item(href='list.html') Lorem
  a.teg-cloud__item.teg-cloud__pop__item(href='list.html') Котловка