.teg-cloud {
      display: flex;
      flex-wrap: wrap;
      @extend %_cut_val-24;
  &__item {
      font-size: rem(18px);
      color: $white;
      padding: 0 rem(15px) 0 0;
      &:hover {
          opacity: .8;
      }
  }
  &__pop__item {
      color: $red-origin;
      text-transform: uppercase;
      opacity: .6;
  }
}