ul.icon-list
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'vk')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'fb')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'tw')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'inst')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'youtube')
	li.icon-list__item.icon-list__item_end-cut
		a.link(href='#')
			svg.icon-default
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'rss')
	li.icon-list__item
		a.link(href='#')
			include ./icon-play-button