ul.icon-list
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'windows')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'app-store')
	li.icon-list__item
		a.link(href='#')
			svg.icon-default
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'google-play')