include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    .row
                        .labels
                            span.label Фото
                            span.label Видео
                    .row
                        span.section__heading Новости
                    .row
                        section.news__preview
                            .news__preview-img
                                img()
                            .news__preview-text
                                h1.section__title Lorem ipsum dolor sit amet
                                p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                            .news__preview-row
                                .labels
                                    span.label Фото
                                    span.label Видео
                        section.news__preview
                            .news__preview-img
                                img()
                            .news__preview-text
                                h1.section__title Lorem ipsum dolor sit amet
                                p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                            .news__preview-row
                                .labels
                                    span.label Фото
                                    span.label Видео
                    .row
                        ul.pagination__list
                            li.pagination__item
                                a.pagination__link.pagination__nav--end(href='#')
                                    i.icon-pagination__nav-left
                            li.pagination__item
                                a.pagination__link.pagination__link--activ(href='#') 1
                            li.pagination__item
                                a.pagination__link(href='#') 2
                            li.pagination__item
                                a.pagination__link(href='#') 3
                            li.pagination__item
                                a.pagination__link(href='#') 4
                            li.pagination__item
                                a.pagination__link(href='#') 5
                            li.pagination__item
                                a.pagination__link(href='#') 6
                            li.pagination__item
                                a.pagination__link(href='#') 7
                            li.pagination__item
                                a.pagination__link(href='#')
                                    i.icon-pagination__nav-right
                .col__right
                    include ../components/right__side/right__side
                include ../components/footer/footer