include ../base
	block head
		title Москва За Калужской заставой
	block content
		.wrap
			include ../components/header/header
			.container
				.col__left
					.labels.row
						a.label(href='list.html') Новости ЮЗАО
						a.label(href='list.html') Статьи
					section.preview-news.row
						span.row.section-heading Новости
						ul.preview__list
							li.preview__item.row
								.preview__img
									img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900',alt='alt')
								.preview__text
									.preview__info
										time.publication-date(datetime="17.02.2018") 17 Февраля 2018
										.labels.hide__block-lg_desctop.show__block-desktop
											span.label Фото
											span.label Видео
									a.preview__link(href='article.html')
										h1.section-title Lorem ipsum dolor sit amet
									a.preview__link(href='article.html')
										p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
									.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
										span.label Фото
										span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/seanpollock/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/redvers/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/isaacdavis/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/johnygoerend/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/thoughtcatalog/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/capturebylucy/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
								li.preview__item.row
									.preview__img
										img.img-teg(src='https://source.unsplash.com/user/dean_du/1200x900',alt='alt')
									.preview__text
										.preview__info
											time.publication-date(datetime="17.02.2018") 17 Февраля 2018
											.labels.hide__block-lg_desctop.show__block-desktop
												span.label Фото
												span.label Видео
										a.preview__link(href='article.html')
											h1.section-title Lorem ipsum dolor sit amet
										a.preview__link(href='article.html')
											p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
										.labels.news__preview-row.disabled__item-tablets.hide__block-desktop
											span.label Фото
											span.label Видео
					.pagination.row
						ul.pagination__list
							li.pagination__item
								a.pagination__link.pagination__link--activ(href='#') 1
							li.pagination__item
								a.pagination__link(href='#') 2
							li.pagination__item
								a.pagination__link(href='#') 3
							li.pagination__item
								a.pagination__link(href='#') 4
							li.pagination__item
								a.pagination__link(href='#') 5
							li.pagination__item
								a.pagination__link(href='#') 6
							li.pagination__item
								a.pagination__link(href='#') 7
						.pagination__controls.hide__block-phones
							a.controls__btn.controls__btn__next(href='#')
								i.controls__btn-arrow__right
							a.controls__btn.controls__btn__prev(href='#')
								i.controls__btn-arrow__left
				.col__right
					include ../components/right-side/right-side
			include ../components/footer/footer
include ../components/hamburger-menu/hamburger-menu
include ../components/feedback-form/feedback-form	