include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    .row
                        .labels
                            a.label(href='list.html') Новости ЮЗАО
                            a.label(href='list.html') Статьи
                    .row
                        span.section__heading Новости
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        section.news__preview
                            .news__preview-img
                                img(src='./img/_img_05_min.jpg',alt='alt')
                            .news__preview-text
                                time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                a.news__preview-link(href='article.html')
                                    h1.section__title Lorem ipsum dolor sit amet
                                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
                                .news__preview-row
                                    .labels
                                        span.label Фото
                                        span.label Видео
                    .row
                        .pagination
                            ul.pagination__list
                                li.pagination__item
                                    a.pagination__link.pagination__link--activ(href='#') 1
                                li.pagination__item
                                    a.pagination__link(href='#') 2
                                li.pagination__item
                                    a.pagination__link(href='#') 3
                                li.pagination__item
                                    a.pagination__link(href='#') 4
                                li.pagination__item
                                    a.pagination__link(href='#') 5
                                li.pagination__item
                                    a.pagination__link(href='#') 6
                                li.pagination__item
                                    a.pagination__link(href='#') 7
                            .pagination__controls
                                a.controls__btn.controls__btn__next(href='#')
                                    i.controls__btn-arrow__right
                                a.controls__btn.controls__btn__prev(href='#')
                                    i.controls__btn-arrow__left
                .col__right
                    include ../components/right__side/right__side
            include ../components/footer/footer