ul.app__list
	li.app__item
			a.app__link(href='#')
					svg.app__icon
							use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'windows')
	li.app__item
			a.app__link(href='#')
					svg.app__icon
							use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'app-store')
	li.app__item
			a.app__link(href='#')
					svg.app__icon
							use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'play-store')