.blog-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;
  width: 100%;
  padding: 0 0 25px 0;
  overflow: hidden;
  @extend %_cut_val-48;
  &__promo {
    position: relative;
    display: flex;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
    }
  }
  &__text-field {
    bottom: rem(20px);
    display: flex;
    flex-direction: column;
    z-index: 2;
    @extend %_cut_val-24;
  }
  &__text-field_promo {
    position: absolute;
    padding: 0 10%;
  }
  &__link {
    font-size: rem(24px);
    color: $white;
    padding: 0;
  }
  &__publication-date {
    color: $white;
  }
  &__list {
    display: flex;
    justify-content: center;
    width: 100%;
    @extend %limiter;
    @extend %_cut_val-48;
  }
  &__item {
    position: relative;
    width: 27%;
    margin: 0 rem(15px) 0 0;
    &:last-child {
      margin: 0;
    }
  }
}