section.blog-video
	.blog-video__promo(style='background-image: url(https://source.unsplash.com/user/oria_hector/720x500)')
		.blog-video__text-field.blog-video__text-field_promo
			.label
			time(datetime="17.02.2018").publication-date.blog-video__publication-date 17 Февраля 2018
			a(href='article.html').link.blog-video__link Культ личности означает аутотренинг
	.blog-video__list
		.blog-video__item
			.img-default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
				.blog-video__text-field
					a(href='article.html').link.blog-video__link Культ личности означает аутотренинг
					time(datetime="17.02.2018").publication-date.blog-video__publication-date 17 Февраля 2018
		.blog-video__item
			.img-default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
				.blog-video__text-field
					a(href='article.html').link.blog-video__link Культ личности означает аутотренинг
					time(datetime="17.02.2018").publication-date.blog-video__publication-date 17 Февраля 2018
		.blog-video__item
			.img-default
				img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
				.blog-video__text-field
					a(href='article.html').link.blog-video__link Культ личности означает аутотренинг
					time(datetime="17.02.2018").publication-date.blog-video__publication-date 17 Февраля 2018