.imgSlider
	.imgSlider__browsing
		.imgSlider__preloader
		a.imgSlider__link(href='', data-fancybox="images")
			img.imgSlider__review(src='', alt='alt')
	.imgSlider__prev.disabled__item-tablets
		ul.imgSlider__list
			li.imgSlider__item.imgSlider__item_active
				a.imgSlider__link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/a2eorigins/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/a2eorigins/1200x900' , alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/samuelzeller/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/samuelzeller/1200x900' , alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/andersjilden/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/andersjilden/1200x900' , alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/withluke/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/withluke/1200x900' , alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/nate_dumlao/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/nate_dumlao/1200x900' , alt='alt')
			li.imgSlider__item
				a.imgSlider__link(href='https://source.unsplash.com/user/calebdlucas/1200x900', data-fancybox="images")
					img.imgSlider__prev(src='https://source.unsplash.com/user/calebdlucas/1200x900' , alt='alt')
	.controls.imgSlider__controls.imgSlider__controls_hover.disabled__item-tablets
		a.controls__button.controls__button_next(href='#')
			i.controls_arrow.controls__arrow_right
		a.controls__button.controls__button_prev(href='#')
			i.controls_arrow.controls__arrow_left