.gallery__photos
    img(src='./img/_img_01_min.jpg', alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_02_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_03_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_05_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_06_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_07_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_08_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.
.gallery__photos
    img(src='./img/_img_09_min.jpg',alt='alt')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dicta eaque eum excepturi fugiat modi nobis nulla officia, possimus praesentium quas quis quisquam reiciendis reprehenderit similique sunt ullam unde.