img.gallery__photos(src='./img/_img_01_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_02_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_03_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_10_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_05_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_06_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_07_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_08_min.jpg', alt='alt', data-caption='This image has a caption')
img.gallery__photos(src='./img/_img_09_min.jpg', alt='alt', data-caption='This image has a caption')