include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .row
                    section.gallery__photo
                        span.section__title Фото
                        .gallery__slider
                            .gallery__slider-cell
                                .gallery__slider-img
                                    img()
                                h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                            .gallery__slider-cell
                                .gallery__slider-img
                                    img()
                                h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                            .gallery__slider-cell
                                .gallery__slider-img
                                    img()
                                h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                            .row
                                .gallery__slider-cell
                                    .gallery__slider-img
                                        img()
                                    h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                .gallery__slider-cell
                                    .gallery__slider-img
                                        img()
                                    h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                .gallery__slider-cell
                                    .gallery__slider-img
                                        img()
                                    h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                    .row
                        section.gallery__video
                                span.section__title Видео
                                .gallery__slider
                                    .gallery__slider-cell
                                        .gallery__slider-img
                                            i.gallery__slider-play__btn
                                            img()
                                        h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                    .gallery__slider-cell
                                        .gallery__slider-img
                                            i.gallery__slider-play__btn
                                            img()
                                        h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                    .gallery__slider-cell
                                        .gallery__slider-img
                                            i.gallery__slider-play__btn
                                            img()
                                        h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                    .row
                                        .gallery__slider-cell
                                            .gallery__slider-img
                                                i.gallery__slider-play__btn
                                                img()
                                            h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                        .gallery__slider-cell
                                            .gallery__slider-img
                                                i.gallery__slider-play__btn
                                                img()
                                            h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!
                                        .gallery__slider-cell
                                            .gallery__slider-img
                                                i.gallery__slider-play__btn
                                                img()
                                            h5.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero!

                    include ../components/footer/footer