.gallery {
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &__list {
        display: flex;
        position: relative;
        justify-content: flex-start;
        width: 100%;
        left: 0;
        @include tablets {
            width: 98%;
        }
        @include phones {
            width: 99%;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 8%;
    }
    &__row {
        display: flex;
        width: 100%;
    }
    &__controls {
        top: 45%;
        height: 6%;
        @include desktop {
            position: absolute;
            top: 720px;
            width: 75%;
        }
    }
    &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 340px;
        cursor: pointer;
        filter: grayscale(70%);
        padding: 0 10px 0 0;
        &:last-child{
            padding: 0;
        }
        @include tablets {
            padding: 0 2% 0 0;
        }
        @include phones {
            padding: 0 1%;
        }
    }
    &__link--hover:hover {
        filter: grayscale(0);
    }
    // &__img-prev {
    //     height: 220px;
    //     width: 300px;
    //     filter: grayscale(70%);
    //     overflow: hidden;
    //     @include phones {
    //         height: 350px;
    //         width: 350px;
    //     }
    //     &:hover {
    //         filter: grayscale(0);
    //     }
    // }
    &-img {
        width: 100%;
        display: block;
    }
    &__pagination-list {
        width: auto;
    }
    &__pagination {
        position: relative;
        width: 100%;
    }
    &__photos {
        width: 60%;
        p {
            margin: rem(15px) 0 0 0;
            width: 60%;
        }
    }
} //video
.palay__btn {
    position: absolute;
    left: 40%;
    top: 30%;
    cursor: pointer;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background: $yellow;
    }
    &:after {
        position: absolute;
        content: '';
        border: 0;
        border-style: solid;
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent #202020;
        top: 10px;
        left: 15px;
    }
}