ul.social-networks__list
	li.social-networks__item
		a.socila__link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'vk')
	li.social-networks__item
		a.socila__link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'fb')
	li.social-networks__item
		a.socila__link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'tw')
	li.social-networks__item
		a.socila__link(href='#')
			svg.social-networks__icon
					use(xlink:href='./img/svg/svg/symbols.svg' + '#' + 'inst')