ul.social-networks__list
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'vk')
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'fb')
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
				use(xlink:href='./img/svg/symbols.svg' + '#' + 'tw')
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'inst')
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'youtube')
	li.social-networks__item
		a.link(href='#')
			svg.social-networks__icon
					use(xlink:href='./img/svg/symbols.svg' + '#' + 'rss')