@import './__block';
@import './__item';
@import './__item_direction_row';
@import './__link';
@import './__list';
@import './__row';

.news-latest {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	@extend %limiter;
}