.banners {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__item {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0 7%;
      @include tablets {
          justify-content: flex-start;
      }
      @include phones {
          padding: 0;
      }
  }
  &__link {
        padding: 0 1% 0 0;
        &:last-child {
            width: 330px;
            padding: 0;
        }
      @include tablets {
          padding: 0 8% 0 0;
          &:last-child {
              padding: 0;
          }
          @include phones {
              width: 100%;
          }
      }
  }
  &__img {
      filter: grayscale(70%);
      width: 100%;
      overflow: hidden;
      &:hover {
          filter: grayscale(0);
      }
  }
  &__controls {
    bottom: 100px;
    position: absolute;
    height: auto;
  }
}