&_size_h4{
  font-size: rem(22px);
  @include iphone-4{
    font-size: rem(22px) / 1.2;
  }
  @include iphone-5{
    font-size: rem(22px) / 1.2;
  }
  @include iphone-6-7-8{
    font-size: rem(22px) / 1.2;
  }
  @include iphone-10 {
    font-size: rem(22px) / 1.2;
  }
  @include ipad-1-2-mini-air {
    font-size: rem(22px);
  }
}