&_size_h5{
  font-size: rem(18px);
  @include iphone-4{
    font-size: rem(16px);
  }
  @include iphone-5{
    font-size: rem(16px);
  }
  @include iphone-6-7-8{
    font-size: rem(16px);
  }
  @include iphone-10 {
    font-size: rem(16px);
  }
  @include ipad-1-2-mini-air {
    font-size: rem(18px);
  }
}