&_size_h1{
  font-size: rem(34px);
  @include iphone-4{
    font-size: rem(34px) / 1.9;
  }
  @include iphone-5{
    font-size: rem(34px) / 1.9;
  }
  @include iphone-6-7-8{
    font-size: rem(34px) / 1.9;
  }
  @include iphone-10 {
    font-size: rem(34px) / 1.9;
  }
}