&_size_h3{
  font-size: rem(26px);
  @include iphone-4{
    font-size: rem(26px) / 1.5;
  }
  @include iphone-5{
    font-size: rem(26px) / 1.5;
  }
  @include iphone-6-7-8{
    font-size: rem(26px) / 1.5;
  }
  @include iphone-10 {
    font-size: rem(26px) / 1.5;
  }
  @include ipad-1-2-mini-air {
    font-size: rem(26px) / 1.1;
  }
}