.card-article-news
	.img.img_default
		img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-article-news__text-block
		a(href='article.html').heading.heading_size_h6 Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		.card-article-news__hover-block
			p.text Несомненно, марксизм практически сохраняет субъект власти. Механизм власти ограничивает культ личности. Важным для нас является указание Маклюэна на то, что бихевиоризм категорически отражает социализм.
			.card-article-news__data
				include ../../user/user
				time(datetime="17.02.2018").post-data.card-gallery__post-data 17.10.2018
			include ../../tegs/tegs-card-mod