aside.h__menu.visuallyhidden
  .close__batton.h__menu-close__batton
    span.close-icon
  ul.h__menu-list
    li.h__menu-item
      a.h__menu-link(href='list.html') Новости
    li.h__menu-item
      a.h__menu-link(href='list.html') Новости ЮЗАО
    li.h__menu-item
      a.nav__link.categories--open(href='#') Разделы
    li.h__menu-item
      a.h__menu-link(href='list.html') Персональный блог
    li.h__menu-item
      a.h__menu-link(href='gallery.html') Фото
    li.h__menu-item
      a.h__menu-link.open__form(href='#') Письмо в редакцию