.header__block
{
	position: relative;
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include phones
	{
		display: flex;
		justify-content: center;
		width: 100%;
	}
	@include tablets
	{
		margin: 0;
	}
	@include tablets__h
	{
		margin: 0;
	}
}