.header
{
	display: flex;
	background: $dark__violet;
	padding: 1% 2%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	align-items: center;
	@include phones
	{
		justify-content: space-around;
		height: 160px;
		flex-direction: column;
	}
}