header.header
	.header__logo
		include ../../common.blocks/logo/logo
	include ../../common.blocks/navigation/navigation
	.header__serch
		include ../serch-form/serch-form
	include ../../common.blocks/social-networks/social-networks