@import './__block';
@import './__logo';
@import './__serch';
@import './__nav';
@import './_bottom_border';
@import './_padding_15';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  background: $white;
}