header.header
	.header__logo
		include ../../common.blocks/logo/logo
	.header__block
		include ../../common.blocks/navigation/navigation
		include ../../common.blocks/social-networks/social-networks
	.header__serch
		include ../serch/serch