a.section__heading(href='list.html') Новости
	div.news(data-class='slider__teg').row
		ul.news__list(data-class='slider__list')
			li.news__item.active__slide(data-class='slider__item')
					.section__img
						img.img__teg(src='https://source.unsplash.com/user/nikolayv/1200x900',	alt='alt')
					time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
					a.section__title.section__row(href='article.html') Культ личности означает аутотренинг
					p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
			li.news__item(data-class='slider__item')
					.section__img
						img.img__teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900', alt='alt')
					time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
					a.section__title.section__row(href='article.html') Культ личности означает аутотренинг
					p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
			li.news__item.disabled__item-all(data-class='slider__item')
					.section__img
						img.img__teg(src='https://source.unsplash.com/user/samuelzeller/1200x900', alt='alt')
					time.publication__date.section__row(datetime="17.02.2018") 17 Февраля 2018
					a.section__title.section__row(href='article.html') Культ личности означает аутотренинг
					p.section__description.section__row Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.
		.pagination.row.show__blok-phones
			ul.pagination__list(data-class='pagination__list')
				//- generation on js