.news-section {
    display: flex;
    flex-direction: column;
}

.news {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    &__list {
        display: flex;
        justify-content: flex-start;
        @include phones {
            position: relative;
            width: 100%;
        }
    }
    &__item {
        padding: 0 rem(15px) 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 50%;
        &:last-child {
            padding: 0;
        }
        @include phones {
            display: flex;
            position: relative;
            padding: 0;
        }
    }
}

.section__heading {
    font: {
        family: $noto__sans-bold;
        size: rem(26px);
    }
    color: $black;
    text-transform: uppercase;
    &:hover {
        background: $yellow;
        color: $black;
    }
}