a.section-heading(href='list.html') Новости
div.news(data-class='slider__teg').row
	ul.news__list(data-class='slider__list')
		+listItem('news__item', 'https://source.unsplash.com/user/nikolayv/1200x900', '17.02.2018', 'Культ личности означает аутотренинг', 'Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.')
		+listItem('news__item', 'https://source.unsplash.com/user/jaycalabresephotography/1200x900', '17.02.2018', 'Культ личности означает аутотренинг', 'Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.')
		+listItem('news__item', 'https://source.unsplash.com/user/samuelzeller/1200x900', '17.02.2018', 'Культ личности означает аутотренинг', 'Воспитание вызывает экзистенциальный 	доиндустриальный тип политической культуры.')
	.pagination.row.show__blok-phones
		ul.pagination__list(data-class='pagination__list')
			//- generation on js