.button {
  position: relative;
  font-size: rem(16px);
  font-weight: bold;
  background: $red-origin;
  color: $white;
  text-transform: uppercase;
  padding: rem(10px) rem(20px);

 @import './_line';
 @import './_hover';

}