.nav-page
{
	&__romo
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: column;
	}
	&__list
	{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@extend %_cut_val-6;
	}
		&__item
		{
			display: flex;
			justify-content: space-between;
			width: 100%;
			@extend %_cut_val-24;
				@include tablets
				{
					flex-direction: column;
					justify-content: space-between;
				}
				@include sm__phones
				{
						display: block;
				}
			}

				&__img
				{
					width: 70%;
					height: 100%;
					overflow: hidden;
					padding: 0 rem(15px) 0 0;
					@include tablets
					{
						width: 100%;
						padding: 0;
					}
				}

				&__text
				{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 100%;
					@include tablets
					{
						margin: rem(15px) 0 0 0;
					}
				}
				&__link
				{
					color: $black;
					@include tablets
					{
						margin: rem(15px) 0 0 0;
					}
				}
				&__info
				{
					display: flex;
					@include desktop
					{
						display: flex;
						align-items: flex-end;
						justify-content: space-between;
					}
						@include tablets
						{
							flex-direction: row-reverse
						}
				}
		}