include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				section.section-header.section-header_page-header
					.section-header__first-column
						a(href="#").button.button_hover Название секции
				.page__limiter-column
					include ../../library.blocks/post-column/post-column_promo-list
					.page__block-column
						section.section-header
							.section-header__first-column
								a(href="#").button.button_hover Название секции
						include ../../library.blocks/post-column/post-column
						section.section-header
							.section-header__first-column
								a(href="#").button.button_hover Название секции
						include ../../library.blocks/post-column/post-column-small
			include ../../common.blocks/footer/footer