include ../base
	block head
		title Москва За Калужской заставой
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				section.section-header.section-header_page-header
					.section-header__header-page
						include ../../library.blocks/breadcrumb/breadcrumb
						span.heading.heading_size_h3 Название страницы
				.page__limiter-column.page__limiter-column_cut
					include ../../library.blocks/post-column/post-column_promo-list
					include ../../library.blocks/pagination/pagination
					.page__block-column
						section.section-header
							.section-header__first-column
								a(href="#").button.button_hover Название секции
						include ../../library.blocks/post-column/post-column
						section.section-header
							.section-header__first-column
								a(href="#").button.button_hover Название секции
						include ../../library.blocks/post-column/post-column-small
			include ../../common.blocks/footer/footer