include ../base
	block head
		title Москва За Калужской заставой | Все новости
	block content
		.page
			include ../../common.blocks/header/header
			.page__content
				span.heading Новости
				.page__block
					ul.list
						li.list__item
							.img-small
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900', alt='alt')
							.text-field
								a.link(href='article.html') Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
								time.post-data(datetime="17.02.2018") 17 Февраля 2018
						li.list__item
							.img-small
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900', alt='alt')
							.text-field
								a.link(href='article.html') Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
								time.post-data(datetime="17.02.2018") 17 Февраля 2018
						li.list__item
							.img-small
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900', alt='alt')
							.text-field
								a.link(href='article.html') Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
								time.post-data(datetime="17.02.2018") 17 Февраля 2018
						li.list__item
							.img-small
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900', alt='alt')
							.text-field
								a.link(href='article.html') Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
								time.post-data(datetime="17.02.2018") 17 Февраля 2018
						li.list__item
							.img-small
								img.img-teg(src='https://source.unsplash.com/user/joelfilip/1200x900', alt='alt')
							.text-field
								a.link(href='article.html') Lorem ipsum dolor sit amet
								a.link(href='article.html')
									p.text.list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cupiditate debitis distinctio error esse facere fuga fugiat id illo in libero nostrum obcaecati officia placeat, qui rem totam vel.
								time.post-data(datetime="17.02.2018") 17 Февраля 2018
					.pagination.list__pagination
						ul.pagination__list
							li.pagination__item
								a.pagination__link.pagination__link--activ(href='#') 1
				.page__block
					include ../../library.blocks/img-widget/img-widget
			include ../../common.blocks/footer/footer