&__text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 rem(15px);
  width: 350px;
  color: $black-shade;

  @include small{
   margin: 0;
  }
  @include iphone-4{
    margin: 0;
    height: 25vh;
  }
  @include iphone-4-landscape {
    width: auto;
    height: 40vh;
    margin: 0 0 0 15px;
  }
  @include iphone-6-7-8 {
    width: auto;
    height: 20vh;
    margin: 0 0 0 15px;
  }
}