.card-mini
	.img.img_mini(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-mini__text-block
		include ../card-data/card-data
		a(href='article.html').text.text_size_small.card-mini__text Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»