.card-mini
	.img.img_mini(style='background-image: url(https://source.unsplash.com/user/nikolayv/1200x900)')
		img._visually_hidden(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-mini__text-block
		time(datetime="17.02.2018").post-data 17.02.2018
		a(href='article.html').text.text_size_small.card-mini__text Тема: «Экзистенциальный художественный ритуал: снижение или англо-американский тип политической культуры?»
		include ../../../library.blocks/user/user