&__limiter-column {
  display: flex;
  width: 78%;
  @extend %limiter;

  &_cut {
    @extend %_cut_val-30;
  }

  @include medium {
    justify-content: space-evenly;
  }
  @include small{
    width: 95%;
  }
  @include iphone-4{
    width: 100%;
    flex-direction: column;
  }
  @include iphone-5{
    width: 100%;
    flex-direction: column;
  }
  @include iphone-6-7-8{
    width: 100%;
    flex-direction: column;
  }

  @include iphone-10-landscape {
    max-width: 100%;
    width: 95%;
  }
  @include ipad-1-2-mini-air {
    max-width: 100vw;
    width: 95%;
    flex-direction: column;
  }
  

}