&__limiter-column {
  display: flex;
  width: 78%;
  @extend %limiter;

  &_cut {
    @extend %_cut_val-30;
  }

  @include medium {
    justify-content: space-evenly;
  }
  @include small{
    width: 95%;
  }

}