.link_inner {
	&:before {
		content: '';
		display: inline-block;
		content: '';
		width: 15px;
		height: 15px;
		padding: 0 rem(5px) 0 0;
		background-size: 15px;
		background: url('../img/link.svg') no-repeat;
	}
}