section.affiche
.row
    section.gallery
        a.section__heading Галерея
        .gallery__img
            img(src='./img/_img_09_min.jpg')
.row
    section.blog
        a.section__heading Колумнистика
        .blog__preview
            .blog__img
                img(src='./img/_img_01_min.jpg')
            p.user__name Кристина Иванова
            h2.blog__title Феномен толпы
        .blog__preview
            .blog__img
                img(src='./img/_img_03_min.jpg')
            p.user__name Кристина Иванова
            h2.blog__title Феномен толпы
        .blog__preview
            .blog__img
                img(src='./img/_img_10_min.jpg')
            p.user__name Кристина Иванова
            h2.blog__title Феномен толпы
.row
    section.banners
        .banners__img
            img(src='./img/_img_06_min.jpg')
        .banners__img
            img(src='./img/_img_07_min.jpg')
        .banners__img
            img(src='./img/_img_08_min.jpg')
    section.interview
        a.section__heading Интервью
            .interview__img
                img(src='./img/man_min.jpg')
    section.quiz
        a.section__heading Опрос
        span.question Какую соцсеть вы предпочитаете?
        span.ansver.ansver__activ да
        span.ansver нет