.slider__content
	ul.slider__list
		li.slider__item.slider__item_js_active
			.slider__img
				img.img-teg(src='https://source.unsplash.com/user/hellocolor/1200x900',alt='alt')
			.slider__block
				time.publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.slider__link(href='article.html')
					h1.heading.slider__heading Экспериментальный феномен толпы
					p.text.slider__text Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
		li.slider__item
			.slider__img
				img.img-teg(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
			.slider__block
				time.publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.slider__link(href='article.html')
					h1.heading.slider__heading Феномен толпы
					p.text.slider__text Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
		li.slider__item
			.slider__img
				img.img-teg(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
			.slider__block
				time.publication-date(datetime="17.02.2018") 17 Февраля 2018
				a.slider__link(href='article.html')
					h1.heading.slider__heading6 Экспериментальные толпы
					p.text.slider__text Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы.
	.controls.slider__controls.disabled__item-tablets
		a.controls__button.controls__button_next(href='#')
			i.controls_arrow.controls__arrow_right
		a.controls__button.controls__button_prev(href='#')
			i.controls_arrow.controls__arrow_left