.close__batton-feedback{
  position: relative;
  height: 25px;
  width: 25px;
}

.close-icon-feedback{
  height: 25px;
  &::before{
    background: $yellow;
  }
  &::after{
    background: $yellow;
  }
}

.form{
  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__feedback{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(108, 55, 81, .98);
  z-index: 999;
  overflow: hidden;
  color: $white;
  }

  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 620px;
    min-width: 300px;
    height: 100%;
    margin: auto;
    @include md__desktop{
      width: 80%;
    }
    @include tablets{
      width: 100%;
      padding: 0 2%;
    }
  }

  &__fields{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    @include phones{
      flex-direction: column;
    }
  }

  &__row{
    display: flex;
    margin: rem(20px) 0 0 0;
    @include phones{
      flex-direction: column;
    }
  }

  &__title {
      @include noto-sans__bold;
      font-size: rem(36px);
    color: $white;
  }

  &__elem-title{
      color: $white;
  }

  &__inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input{
    width: 100%;
    height: 35px;
    padding: 2%;
    border: 0;
  }

  &__big-text-input{
    display: block;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    padding: 1%;
    resize: none;
    @include phones{
      max-height: 100px;
      min-height: 100px;
    }
  }

  &__elem{
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 0;
    width: 100%;
    &:last-child{
      padding: 0;
    }
    @include phones{
      flex-direction: column;
      padding: 0;
    }
  }

  &__buttons{
    display: flex;
    flex-direction: column;
  }

  &__radio{
    display: flex;
    align-items: baseline;
    padding: 0 5%;
  }
  
  &__radio-checkbox{
    position: absolute;
    left: -9999px;
  }

  &__radios-checkbox__title{
      position: relative;

    &::before{
      content: '';
      position: absolute;
      display: flex;
      left: -30px;
      width: 15px;
      height: 15px;
      border: 1px solid $white;
      background: $white;
      cursor: pointer;
      @include phones{
        content: '';
        position: relative;
        left: 45%;
        width: 25px;
        height: 25px;
      }
    }

    &::after{
      content: '';
      width: 10px;
      height: 10px;
      background: $black;
      position: absolute;
      top: 4px;
      left: 0;
      opacity: 0;
      @include phones{
        width: 20px;
        height: 20px;
        top: 4px;
      }
    }

  }

  &__file-input{
    position: absolute;
    opacity: 0;
  }

  &__input-file__batton{
    position: relative;
    bottom: 10px;
    display: flex;
    height: 40px;

    &::after{ // textarea
      content: '';
      position: absolute;
      left: 0;
      top: 24px;
      background: #fff;
      padding: 2%;
      width: 150px;
      height: 25px;
      @include phones{
        content: none;
      }
    }

    &::before{  // batton
      content: 'Выберите файлы';
      position: absolute;
      left: 174px;
      top: 24px;
      background: #ffc600;
      width: 120px;
      height: 27px;
      font-size: 14px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      @include tablets{
        position: relative;
        width: 100%;
        height: 25px;
        font-size: 13px;
        left: 0;
        right: 0;
      }
    }
  }

  &__radios-link{
    color: $yellow;
    padding: 0 rem(15px);
    text-transform: uppercase;
  }

  &__radios-link--hover{
    &:hover{
      text-decoration: underline;
    }
  }

  &__control{
    display: flex;
    justify-content: space-around;
    @include phones{
      align-items: center;
    }
  }

  &__submit{
    width: 215px;
    height: 45px;
    background: $yellow;
    border: 0;
    color: $black;
    cursor: pointer;
   @include roboto-bold;
  }
  

  &__footer{
    display: flex;
    justify-content: space-between;
    @include phones{
      align-items: center;
    }
  }

  &__info{
    display: flex;
    justify-content: space-between;
    width: 38%;
    @include tablets{
      width: 41%;
    }
    @include phones{
      width: 60%;
    }
  }

  &__tel{
    color: $white;
    text-decoration: underline;
  }

  &__tel--hover{
    &:hover{
      color: #ffc600;
      text-decoration: none;
  }
  }

  &__alert{
    text-transform: uppercase;
    color: $yellow;
  }
}

.form__radio-checkbox:checked +
  .form__radios-checkbox__title::after{
      opacity: 1;
      left: -27px;
      @include phones{
        left: 46%;
      }
    }