include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    .slider
                        .slider__row
                            .labels
                                span.label Фото
                                span.label Видео
                        .slider__row
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h1 Экспериментальный феномен толпы
                            p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                        .slider__controls
                            a.slider__controls_btn.slider__controls_next(href='#')
                                .slider__controls-arrow_right
                            a.slider__controls_btn.slider__controls_prev(href='#')
                                .slider__controls-arrow_left
                    .row
                        section.news__section
                            a.section__heading(href='#') Новости
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                    .row
                        section.news__section
                            a.section__heading(href='#') Анонсы
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img()
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                    .row
                        section.news__section
                            a.section__heading(href='#') Статьи
                        .news
                            .section__img
                                img()
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img()
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img()
                            h2.section__title Культ личности означает аутотренинг
                    .row
                        section.tegs__cloud
                            h2.section__heading Облако тегов
                            .cloud
                                a.teg.pop__teg(href='#') Москва
                                a.teg(href='#') ЮЗАО
                                a.teg(href='#') Lorem
                                a.teg(href='#') Lorem
                                a.teg(href='#') Lorem
                                a.teg(href='#') Собянин
                                a.teg(href='#') Lorem
                                a.teg(href='#') Котловка
                                a.teg(href='#') Lorem
                    .row
                        section.banners
                            .horizontal__slider
                                .horizontal__slider-img
                                    img()
                                .horizontal__slider-img
                                    img()
                                .horizontal__slider-img
                                    img()
                                .slider__controls.horizontal__slider-controls
                                    a.slider__controls_btn.slider__controls_next(href='#')
                                        .slider__controls-arrow_right
                                    a.slider__controls_btn.slider__controls_prev(href='#')
                                        .slider__controls-arrow_left
            .col__right
                section.affiche
                .row
                    section.gallery
                        a.section__heading Галерея
                        .gallery__img
                            img()
                .row
                    section.blog
                        a.section__heading Колумнистика
                        .blog__preview
                            .blog__img
                                img()
                            p.user__name Кристина Иванова
                            h2.blog__title Феномен толпы
                        .blog__preview
                            .blog__img
                                img()
                            p.user__name Кристина Иванова
                            h2.blog__title Феномен толпы
                        .blog__preview
                            .blog__img
                                img()
                            p.user__name Кристина Иванова
                            h2.blog__title Феномен толпы
                .row
                    section.banners
                        .banners__img
                            img()
                        .banners__img
                            img()
                        .banners__img
                            img()
                    section.interview
                        a.section__heading Интервью
                            .interview__img
                                img()
                    section.quiz
                        a.section__heading Опрос
                        span.question Какую соцсеть вы предпочитаете?
                        span.ansver.ansver__activ да
                        span.ansver нет
        include ../components/footer/footer