.slider{
  position: relative;
  width: 800px;
  height: 380px;
  
  &__img{
    display: flex;
    max-width: 800px;
    height: 380px;
    overflow: hidden;
    align-items: center;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $black;
      opacity: .5;
    }
  }

  &__text{
    position: absolute;
    display: flex;
    top: 20px;
    flex-direction: column;
    padding: 0 4%;
    color: $white;
  }

  &__link{
    color: $white;
  }

  &__row{
    margin:rem(75px) 0 0 0;
  }

}

.labels{
  display: flex;
}

.label{
  color: $black;
  padding: rem(10px);
  margin: 0 rem(10px) 0 0;
  background: $yellow;
  &:last-child{
    margin: 0;
  }
}

.news__section{
  display: flex;
  flex-direction: column;
}

.section__row{
  margin: rem(15px) 0 0 0;
}

.section__heading{
  font:{
    family: $noto__sans-bold;
    size: rem(26px);
  }
  color: $black;
  text-transform: uppercase;
  &:hover{
    background: $yellow;
    color: $black;
  }
}

.news{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__col{
    padding: 0 rem(15px) 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:last-child{
      padding: 0;
    }
  }
}

.section__img{
  max-width: 270px;
  width: 270px;
}

.section__title{
  font: {
    family: $noto__sans-bold;
    size: rem(16px);
  }
  color: $black;
  &:hover{
    color: $red;
  }
}

.cloud{
  &__tegs{
    display: flex;
    flex-wrap: wrap;
  }

  &__teg{
    font-size: rem(13px);
    color: $black;
    opacity: .5;
    padding: 0 rem(5px);
    &:hover{
      opacity: .9;
    }

  }

  &__pop__teg{
    color: $red;
    text-transform: uppercase;
    opacity: .6;
  }
}