include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    section.slider
                        .slider__img
                            img(src='./img/_img_05_min.jpg',alt='alt')
                        .slider__text
                            .labels
                                span.label Фото
                                span.label Видео
                            .slider__row
                                    time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            a.slider__link(href='article.html')
                                h1 Экспериментальный феномен толпы
                                p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                        .slider__controls
                            a.slider__controls_btn.slider__controls_next(href='#')
                                .slider__controls-arrow_right
                            a.slider__controls_btn.slider__controls_prev(href='#')
                                .slider__controls-arrow_left
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Новости
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Анонсы
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Статьи
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='./img/_img_05_min.jpg',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                    .row
                        section.cloud
                            span.section__heading Облако тегов
                        .row
                            .cloud__tegs
                                a.cloud__teg.cloud__pop__teg(href='list.html') Москва
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem

                    .row
                        section.banners
                            .horizontal__slider
                                .horizontal__slider-item
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img
                                            img(src='./img/_img_11_min.jpg',alt='alt')
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img
                                            img(src='./img/_img_12_min.jpg',alt='alt')
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img
                                            img(src='./img/_img_13_min.jpg',alt='alt')
                                .horizontal__slider-controls
                                    a.slider__controls_btn.horizontal__slider-controls_next(href='#')
                                         i.horizontal__slider-arrow_right
                                    a.slider__controls_btn.horizontal__slider-controls_prev(href='#')
                                         i.horizontal__slider-arrow_left
                .col__right
                    include ../components/right__side/right__side
        include ../components/footer/footer