include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                .col__left
                    .slider
                        .slider__row
                            .labels
                                span.label Фото
                                span.label Видео
                        .slider__row
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h1 Экспериментальный феномен толпы
                            p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                        .slider__controls
                            a.slider__controls_btn.slider__controls_next(href='#')
                                .slider__controls-arrow_right
                            a.slider__controls_btn.slider__controls_prev(href='#')
                                .slider__controls-arrow_left
                    .row
                        section.news__section
                            a.section__heading(href='#') Новости
                        .news
                            .section__img
                                img(src='./img/_img_05_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                        .news
                            .section__img
                                img(src='./img/_img_06_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                        .news
                            .section__img
                                img(src='./img/_img_08_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                            p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна.
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Анонсы
                        .news
                            .section__img
                                img(src='./img/_img_06_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img(src='./img/_img_08_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img(src='./img/_img_05_min.jpg')
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            h2.section__title Культ личности означает аутотренинг
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Статьи
                        .news
                            .section__img
                                img(src='./img/_img_05_min.jpg')
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img(src='./img/_img_08_min.jpg')
                            h2.section__title Культ личности означает аутотренинг
                        .news
                            .section__img
                                img(src='./img/_img_06_min.jpg')
                            h2.section__title Культ личности означает аутотренинг
                    .row
                        section.tegs__cloud
                            h2.section__heading Облако тегов
                            .cloud
                                a.teg.pop__teg(href='list.html') Москва
                                a.teg(href='list.html') ЮЗАО
                                a.teg(href='list.html') Lorem
                                a.teg(href='list.html') Lorem
                                a.teg(href='list.html') Lorem
                                a.teg(href='list.html') Собянин
                                a.teg(href='list.html') Lorem
                                a.teg(href='list.html') Котловка
                                a.teg(href='list.html') Lorem
                    .row
                        section.banners
                            .horizontal__slider
                                .horizontal__slider-img
                                    img(src='./img/_img_11_min.jpg')
                                .horizontal__slider-img
                                    img(src='./img/_img_12_min.jpg')
                                .horizontal__slider-img
                                    img(src='./img/_img_13_min.jpg')
                                .slider__controls.horizontal__slider-controls
                                    a.slider__controls_btn.slider__controls_next(href='#')
                                        .slider__controls-arrow_right
                                    a.slider__controls_btn.slider__controls_prev(href='#')
                                        .slider__controls-arrow_left
                .col__right
                    include ../components/right__side/right__side
        include ../components/footer/footer