include ../base
    block head
        title Москва За Калужской заставой
    block content
        .wrap
            include ../components/header/header
            .container
                section.slider__tablet
                    .slider__img
                        img(src='https://source.unsplash.com/user/hellocolor/1200x900',alt='alt')
                    .slider__text
                        .labels
                            span.label Фото
                            span.label Видео
                        .slider__row
                            time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                        a.slider__link(href='article.html')
                            h1 Экспериментальный феномен толпы
                            p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                    .slider__controls.disabled__item-tablets
                        a.controls__btn.controls__btn__next(href='#')
                            i.controls__btn-arrow__right
                        a.controls__btn.controls__btn__prev(href='#')
                            i.controls__btn-arrow__left
                .col__left
                    section.slider.disabled__item-tablets
                        .slider__img
                            img(src='https://source.unsplash.com/user/hellocolor/1200x900',alt='alt')
                        .slider__text
                            .labels
                                span.label Фото
                                span.label Видео
                            .slider__row
                                    time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                            a.slider__link(href='article.html')
                                h1 Экспериментальный феномен толпы
                                p Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры. Психоз практически начинает классический феномен толпы. Политическая культура неоднозначна. Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                        .slider__controls.disabled__item-tablets
                            a.controls__btn.controls__btn__next(href='#')
                                i.controls__btn-arrow__right
                            a.controls__btn.controls__btn__prev(href='#')
                                i.controls__btn-arrow__left
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Новости
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/nikolayv/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/jaycalabresephotography/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                                .news__col.disabled__item-all
                                    .section__img
                                        img(src='https://source.unsplash.com/user/samuelzeller/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                    .section__row
                                        p.section__description Воспитание вызывает экзистенциальный доиндустриальный тип политической культуры.
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Анонсы
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/laicho/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/yanu/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col.disabled__item-all
                                    .section__img
                                        img(src='https://source.unsplash.com/user/lucabravo/1200x900',alt='alt')
                                    .section__row
                                        time.publication__date(datetime="17.02.2018") 17 Февраля 2018
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                    .row
                        section.news__section
                            a.section__heading(href='list.html') Статьи
                        .row
                            .news
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/von_co/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col
                                    .section__img
                                        img(src='https://source.unsplash.com/user/alexb/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                                .news__col.disabled__item-all
                                    .section__img
                                        img(src='https://source.unsplash.com/user/marcojodoin/1200x900',alt='alt')
                                    .section__row
                                        a.section__title(href='article.html') Культ личности означает аутотренинг
                    .row
                        section.cloud
                            span.section__heading Облако тегов
                        .row
                            .cloud__tegs
                                a.cloud__teg.cloud__pop__teg(href='list.html') Москва
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') ЮЗАО
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg.cloud__pop__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Собянин
                                a.cloud__teg(href='list.html') Lorem
                                a.cloud__teg(href='list.html') Котловка
                                a.cloud__teg(href='list.html') Lorem
                    .row
                        section.banners
                            .horizontal__slider
                                .horizontal__slider-item
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img
                                            img(src='https://source.unsplash.com/user/stickermule/1200x900',alt='alt')
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img
                                            img(src='https://source.unsplash.com/user/goian/1200x900',alt='alt')
                                    a.horizontal__slider-link(href='http://yandex.ru')
                                        .horizontal__slider-img.disabled__item-all
                                            img(src='https://source.unsplash.com/user/elijahsad/1200x900',alt='alt')
                                .horizontal__slider-controls
                                    a.controls__btn.controls__btn__next(href='#')
                                         i.controls__btn-arrow__right
                                    a.controls__btn.controls__btn__prev(href='#')
                                         i.controls__btn-arrow__left
                .col__right
                    include ../components/right__side/right__side
        include ../components/footer/footer