&__icon {
  box-sizing: border-box;
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: translate(-100%, -50%);
  
  @include iphone-4 {
    width: 50px;
    height: 50px;
    display: block;
    transform: translate(0%, 0%);
  }
  @include iphone-5 {
    width: 50px;
    height: 50px;
    display: block;
    transform: translate(0%, 0%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 11px;
    border: 2px solid $black-origin;
    border-radius: 50%;
    background: none;
    transition: transform 0.4s ease-in-out, border-radius 0.8s ease-in-out;
    transition-delay: 0.4s;
  }

  &:after {
    width: 18px;
    height: 2px;
    background: $black-origin;
    transform: rotate(45deg);
    margin-top: 37px;
    margin-left: 27px;
    transition: .2s ease-in-out;
  }

  &_active {
    transition: 0.4s ease-in-out;
    transition-delay: 0.4s;
    z-index: 99;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      margin-top: 25px;
      margin-left: -5px;
      background: $black-origin;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &:before {
      transition: 0.2s ease-in-out;
      border: 0;
      border-radius: 0;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}