&__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 rem(15px);
  text-overflow: clip;
  width: 40vw;

  @include iphone-4 {
    margin: .9375rem 0 0;
    width: 100vw;
    height: 50vh;
  }

  @include iphone-5 {
    margin: .9375rem 0 0;
    width: 100vw;
    height: 50vh;
  }

  @include iphone-6-7-8 {
    margin: .9375rem 0 0;
    width: 100vw;
    height: 30vh;
  }

  @include iphone-6-7-8-landscape {
    width: 75vw;
    height: 45vh;
  }
  @include iphone-6-7-8-plus {
    height: 25vh;
  }
  @include ipad-1-2-mini-air {
    width: 54vw;
  }
}