&__text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 rem(15px);
  text-overflow: clip;
  width: 40vw;
  @include iphone-4{
    margin: .9375rem 0 0 ;
    width: 90vw;
    height: 50vh;
  }

}