.card-promo
	.img.img_small
		img.img-teg(src="https://source.unsplash.com/user/nikolayv/1200x900", alt="alt")
	.card-promo__text-block
		include ../card-data/card-data
		a(href='article.html').heading.heading_size_h6 Тема: «Экзистенциальный художественный ритуал снижение или англо-американский тип политической культуры?»
		a(href='article.html').text.text_size_small Можно предположить, что точечное воздействие не критично. По мнению ведущих маркетологов, создание приверженного покупателя усиливает имидж. Рекламный бриф притягивает покупателя усиливает имидж.
		include ../../../library.blocks/tegs/tegs-card-mod