.slidershow__browsing
	.slidershow__preloader
	a.browsing__link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
		img.slidershow__review(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
.slidershow__prev.disabled__item-tablets
	ul.slidershow__list
		li.slidershow__item.slidershow__item--activ
			a.slidershow__link(href='https://source.unsplash.com/user/von_co/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/von_co/1200x900', alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/a2eorigins/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/a2eorigins/1200x900' , alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/samuelzeller/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/samuelzeller/1200x900' , alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/andersjilden/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/andersjilden/1200x900' , alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/withluke/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/withluke/1200x900' , alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/nate_dumlao/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/nate_dumlao/1200x900' , alt='alt')
		li.slidershow__item
			a.slidershow__link(href='https://source.unsplash.com/user/calebdlucas/1200x900', data-fancybox="images")
				img.slidershow__prev(src='https://source.unsplash.com/user/calebdlucas/1200x900' , alt='alt')
	.controls.slidershow__controls.slidershow__controls--hover.disabled__item-tablets
		a.controls__button.controls__button_next(href='#')
			i.controls_arrow.controls__arrow_right
		a.controls__button.controls__button_prev(href='#')
			i.controls_arrow.controls__arrow_left